﻿@{
    ViewData["Title"] = "ABOUT";

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration

}

<div class="row">
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">
                    @SharedLocalizer.GetLocalizedHtmlString("ABOUT US")
                </h1>
                <hr />
            </div>
        </div>

        <div class="row" style="padding-bottom:200px">

            <div class="col-md-3 col-6">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="~/img/growup/img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Pond</h4>
                        <p class="card-text">.NET CORE Developer + Entity Framework</p>


                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="~/img/growup/img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Bank</h4>
                        <p class="card-text">Developer & Designer</p>


                    </div>
                </div>
            </div>









        </div>

        <div class="row">
            <br />
        </div>



    </div>
    <div class="col-md-1"></div>
</div>





