﻿@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Contact").ToString();

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}

<br />
<br />



<div class="row" style="padding-bottom:100px">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @*<div class="row">
                <div class="col-md-12">

                </div>
            </div>*@

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">
                    @SharedLocalizer.GetLocalizedHtmlString("Contact")
                </h1>
                <hr />
                <br />
            </div>
        </div>

        <div class="row" style="padding-bottom:200px">
            <div class="col-md-6">
                <img src="~/img/growup/GrowUp_Game_Sample.png" width="100%" />

            </div>
            <div class="col-md-6">
                <address>
                    Pondb13813@gmail.com<br />
                    Sampran, Nakhon Prathom 73110<br />
                    <abbr title="Phone">P:</abbr>
                    +66-81-986-3620
                </address>
                <address>
                    narongrith.stmr@gmail.com<br />
                    Ladphao, Bangkok 10230<br />
                    <abbr title="Phone">P:</abbr>
                    +66-95-484-8222
                </address>

                <address>
                    <strong>@SharedLocalizer.GetLocalizedHtmlString("Support"):</strong> <a href="mailto:Support@example.com">Growyp@gmail.com</a>

                </address>
            </div>
        </div>




    </div>
    <div class="col-md-1"></div>

</div>






