﻿@{
    ViewData["Title"] = "Growyp";


    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}




<script language="javascript" type="text/javascript">




    $(document).ready(function () {
        @if(TempData["alertMsg"] != null)
            {



                <text>

                    swal({
                    title: "@TempData["alertTitle"].ToString()",
                    text: "@TempData["alertMsg"].ToString()",
                    icon: "@TempData["alertType"].ToString()",
                    timer: 2000

                });


                </text>
            }

        var objLI = JSON.parse(localStorage.getItem("ATLI"));

            if (objLI != null && objLI != "") {

                var e_de = atob(objLI.XMA);
                var p_de = atob(objLI.XSTP);

                $('#input_Email').val(e_de);
                $('#input_Password').val(p_de);

                $('#formLogin').submit();
            }

    });

    //AUTO LOGIN






</script>

<style>

    .bg-darkbrown {
        background-color: #332421;
    }

    .white-font {
        color: white;
    }

    .p-gray-font {
        color: #A3A8A8;
    }

    .dark-gray-font {
        color: #A08B99;
    }

    .circle {
        border-radius: 50px;
        font-size: 20px;
        color: #fff;
        line-height: 100px;
        text-align: center;
        background: #000
    }
</style>



<!-- FIRST CONTENT -->
<div class="row bg-darkbrown white-font">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 text-center">

        <div id="getStarted">

            <br />
            <br />
            <br />
            <h1 class="jumbotron-fluid">@SharedLocalizer.GetLocalizedHtmlString("Grow your tree with your plan.")</h1>
            <p>@SharedLocalizer.GetLocalizedHtmlString("Set up your plan and complete them for tree growth. Let's enjoy it like play the game !")</p>

            <br />

            <div style="padding-bottom:10px">
                <a data-toggle="collapse" class="btn btn-success" data-target="#QR_col">@SharedLocalizer.GetLocalizedHtmlString("Quick sign up with QR Code")</a>

            </div>

            <div id="QR_col" class="collapse" style="padding-bottom:30px">
                <img src="~/img/growup/QR_Regis.png" class="mx-auto d-block img-fluid" />

            </div>

            <a class="btn-info btn" asp-area="" asp-controller="Users" asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("Sign up")</a>
            &nbsp;
            <a href="#growypSupport" class="btn-secondary btn">@SharedLocalizer.GetLocalizedHtmlString("SEE FEATURES")</a>

            <br />
            <br />
            <br />

            <img class="img-fluid" src="~/img/growup/GrowUp_Game_Sample.png" />

            <br />
            <br />
            <br />

        </div>




    </div>
    <div class="col-md-2">

    </div>




</div>


<!-- Second Content -->
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypSupportSSS">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">@SharedLocalizer.GetLocalizedHtmlString("Add or check at everywhere.")</h1>
                    <p class="p-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Growyp support all browser and device. It’ll work on every computer and phone.")</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-7">
                    <img class="img-fluid" src="~/img/growup/MobilePNG.png" />
                    <br />
                </div>

                <div class="col-md-5">
                    <div id="browserLogo">
                        <img class="img-fluid" src="~/img/growup/Ch_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Firefox_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Edge_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Safari_Logo.png" width="10%" />
                    </div>

                    <p>
                        <h4>@SharedLocalizer.GetLocalizedHtmlString("Broad browser support.")</h4>
                        <h6 class="p-gray-font">@SharedLocalizer.GetLocalizedHtmlString("All major browsers are supported including Internet Explorer. Set up your plan at anywhere and anytime. Growyp support people who care about planning and want to enjoy it together.")</h6>

                    </p>


                    <br />

                    <div id="deviceLogo">
                        <img class="img-fluid" src="~/img/growup/Android_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Apple_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Window_Logo.png" width="10%" />

                    </div>

                    <p>
                        <h4>@SharedLocalizer.GetLocalizedHtmlString("All devices can use.")</h4>

                        <h6 class="p-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Growyp is based on web application. We support all operating system. It only needs browser and internet. Also, support people who not only use personal computer and have plan to use Growyp.")</h6>
                    </p>



                </div>







            </div>

            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>




        </div>




    </div>
    <div class="col-md-1">

    </div>






</div>


<!-- Third Content -->
<div class="row" style="background-color:#F0F4F5">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypSupport">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">@SharedLocalizer.GetLocalizedHtmlString("Something Growyp can do.")</h1>
                    <p class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Our features for people that want to enjoy planning with feeling like play a game.")</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Listing.png" />

                    <div>
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Listing")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("List your task with to-do-list system. Easy way to mark success or fail to your task.")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Planting.png" />

                    <div>
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Planting")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Enjoy while planning with tree planting. Show us your motivation to make your tree to be the forest.")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Focus.png" />
                    <div>
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Focus")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Concentration is need when do important thing. Make sure you will not lost it.")</h6>
                    </div>
                </div>


            </div>




        </div>

        <div class="row">
            <br />
            <br />
            <br />

        </div>




    </div>
    <div class="col-md-1">

    </div>




</div>



<!-- Fourth Content -->
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypWillLove">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">@SharedLocalizer.GetLocalizedHtmlString("Here’s some more things you’ll love.")</h1>
                    <p class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Some options that Growyp can give to you. We think you'll love these!")</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-4 text-center">



                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/simple.png" width="15%" />

                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Simple")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Easy and simple to use. No need to think much when to play this.")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/group.png" width="15%" />

                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("LINE Notify")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Recieve a notification from your targets or your tree without missing!")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/style.png" width="15%" />
                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Styles")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Many styles support as your desire. We will keep update many app styles for you.")</h6>
                    </div>
                </div>


            </div>
            <br />

            <div class="row">

                <div class="col-md-4 text-center">
                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/achievement.png" width="15%" />

                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Achievement")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Goals are needed when do something. We will put something to keep walking on our app.")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/responsive.png" width="15%" />

                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Responsive")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Support all devices with responsive design. Make sure people can use anywhere or anytime with no bother.")</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid circle" style="background-color:#332421" src="~/img/growup/4th_content/loved.png" width="15%" />
                    <div>
                        <br />
                        <h5>@SharedLocalizer.GetLocalizedHtmlString("Loved")</h5>
                        <h6 class="dark-gray-font">@SharedLocalizer.GetLocalizedHtmlString("Grow your loved tree to find more interesting thing in app.")</h6>
                    </div>
                </div>


            </div>

        </div>

        <div class="row">
            <br />
            <br />
            <br />
        </div>




    </div>
    <div class="col-md-1">

    </div>




</div>

