﻿
@{
    ViewData["Title"] = "Logout";
}

<script>
    
    $(document).ready(function () {
        localStorage.removeItem("ATLI");
        window.location.pathname = "Home/Index";
    });
</script>
@*<a id="Home" asp-action="Index" asp-controller="Home"></a>*@


