﻿
@{
    var title = SharedLocalizer.GetLocalizedHtmlString("News");
    ViewData["Title"] = title.ToString();
}
@using System.IO;
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Extensions;
@using GW.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IConfiguration Configuration


<script>

    

    $(document).ready(function () {

    });
</script>




<div class="row" style="padding-top:50px">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @*<div class="row">
                <div class="col-md-12">

                </div>
            </div>*@

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">
                    @SharedLocalizer.GetLocalizedHtmlString("News")
                </h1>
                <hr />
                <br />
            </div>
        </div>

        @*<div class="row">
                <div class="col-md-12">
                    <img src="~/img/growup/GrowUp_Game_Sample.png" width="100%" />

                </div>

            </div>*@

        <div class="row" style="padding-bottom:500px">
            <div class="col-md-12">
                <!--Update with Model Update Forearch-->

                <h3>Update 1.11</h3>
                <hr />
                <p>-Fixed issues Ajax rendering remove task.</p>
                <p>-Fixed issues Change Password</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-info" onclick="alertMe()">Click me to alert</button>
            </div>
        </div>

        




    </div>
    <div class="col-md-1"></div>

</div>

