﻿
@model IEnumerable<GW.Models.ToDo_Task>
@{
    ViewData["Title"] = "Target";


    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}


@functions {

//CONVERT DATE TO DISPLAY
string ConvertDatetoDisplay(string dIn)
{
    var sObj = dIn.Split("-");

    var sYear = dIn.Substring(0, 4);
    var sMonth = dIn.Substring(4, 2);
    var sDate = dIn.Substring(6, 2);

    return sDate + "/" + sMonth + "/" + sYear;
}

//INSERT TIME TO DISPLAY
string InsertTimeToDisplay(string timeIn)
{
    var timeObject = timeIn.Split("-");

    var timeHour = timeIn.Substring(0, 2);
    var timeMinute = timeIn.Substring(2, 2);



    return timeHour + ":" + timeMinute;
}

}



<style>
    hr.style2 {
        border-top: 3px double #8c8b8b;
        background-color: cornflowerblue;
    }

    #sp1 {
        background-color: #cdc9c9;
    }

    .error {
        border: 1px solid red;
    }

    .pass {
        border: 1px solid green;
    }

    .main-panel {
        border: 1px;
        background-color: #eaeaea;
        border-radius: 20px;
    }
</style>

<style>



    .fc-unthemed td.fc-today {
        background: #dceef2 !important;
    }




    .fc-head {
        background-color: #1C1408;
        color: white;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .fc-time {
        display: none;
    }


    #calender {
        position: static;
    }
</style>

<br />


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script language="javascript" type="text/javascript">

        function task_check() {

            var task_Parent_ID = $('#Task_Parent_ID').val();
            var task_Name = $('#Task_Name').val();
            var task_Due_Date = $('#Task_Due_Date').val();
            var task_Due_Time = $('#Task_Due_Time').val();
            var task_Description = $('#Task_Description').val();
            var task_Type_ID = $('#Task_Type_ID').val();


            //Loading spinner on Button
            $('#btnAdd_Load').switchClass("fa-calendar-plus-o", "fa-circle-o-notch fa-spin");
            $('#btnAdd').attr("disabled", true);

            $.ajax
            ({

                url: '@Url.Action("CheckAlready", "Todo_Task")',
                cache: false,
                type: 'POST',
                data: {
                    Task_Name: task_Name,

                },
                success: function (data) {

                        // มีซ้ำ

                    if (data == "Already") {

                        swal({
                            title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You already have this target in the list"))",
                            text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You want to add more?"))",
                            icon: "info",
                            buttons: true,
                            buttons: true,
                        })
                            .then((willDelete) => {

                                if (willDelete) {

                                    task_add();



                                }
                                else {

                                    $('#btnAdd_Load').switchClass("fa-circle-o-notch fa-spin", "fa-calendar-plus-o");

                                    $('#btnAdd').attr("disabled", false);



                                }

                            });

                    }
                    else if (data == "Pass") {

                        task_add();




                    }
                    else if (data == "Tree_Death") {
                        $('#btnAdd_Load').switchClass("fa-circle-o-notch fa-spin", "fa-calendar-plus-o");
                        $('#btnAdd').attr("disabled", false);
                        swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Tree Death"))", "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You will be not allow to add other task if tree still death"))", "warning");
                    }

                    

                },
                error: function () {

                },
            });
            
            
        }

        //Add Task
        function task_add() {

            var task_Parent_ID = $('#Task_Parent_ID').val();
            var task_Name = $('#Task_Name').val();
            var task_Due_Date = $('#Task_Due_Date').val();
            var task_Due_Time = $('#Task_Due_Time').val();
            var task_Description = $('#Task_Description').val();
            var task_Type_ID = $('#Task_Type_ID').val();

            //RENDER


            $.ajax
                ({

                    url: '@Url.Action("Add", "Todo_Task")',
                    cache: false,
                    type: 'POST',
                    data: {
                        Task_Parent_ID: task_Parent_ID,
                        Task_Name: task_Name,
                        Task_Due_Date: task_Due_Date,
                        Task_Due_Time: task_Due_Time,
                        Task_Description: task_Description,
                        Task_Type_ID: task_Type_ID
                    },
                    success: function (data) {

                        if (data == "Date_Failed") {

                            //alert("You can't add task before today date.");
                            swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Invalid Date"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You cannot add a retrospective target"))",
                                icon: "error",
                                time: 2000
                            });

                            $('#btnAdd_Load').switchClass("fa-circle-o-notch fa-spin", "fa-calendar-plus-o");
                            $('#btnAdd').attr("disabled", false);




                        }
                        else if (data == "SUCCESS_UP") {
                            $('#task_Table').DataTable().clear();
                            renderEvent();
                            renderTable();


                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1;

                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                                dd = '0' + dd;
                            }
                            if (mm < 10) {
                                mm = '0' + mm;
                            }

                            var todayNow = dd + '/' + mm + '/' + yyyy;

                            $('#Task_Due_Date').val(todayNow);



                            $('#Task_Name').val("");
                            //$('#Task_Due_Date').val("");
                            $('#Task_Due_Time').val("");
                            $('#Task_Description').val("");
                            $('#Task_Type_ID').val(1);

                            swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Added!"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target added and level up!"))",
                                icon: "success",
                                time: 2000
                            });

                            //Spinner
                            $('#btnAdd_Load').switchClass("fa-circle-o-notch fa-spin", "fa-calendar-plus-o");
                            $('#btnAdd').attr("disabled", false);


                        }
                        else {
                            //location.reload();
                            $('#task_Table').DataTable().clear();
                            renderEvent();
                            renderTable();

                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1;

                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                                dd = '0' + dd;
                            }
                            if (mm < 10) {
                                mm = '0' + mm;
                            }

                            var todayNow = dd + '/' + mm + '/' + yyyy;

                            $('#Task_Due_Date').val(todayNow);




                            $('#Task_Name').val("");
                            //$('#Task_Due_Date').val("");
                            $('#Task_Due_Time').val("");
                            $('#Task_Description').val("");
                            $('#Task_Type_ID').val(1);


                            swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Added!"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target added!"))",
                                icon: "success",
                                time: 2000
                            });

                            $('#btnAdd_Load').switchClass("fa-circle-o-notch fa-spin", "fa-calendar-plus-o");
                            $('#btnAdd').attr("disabled", false);


                        }










                    },
                    error: function () {
                        BootstrapDialog.show({ title: 'Error', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                    },
                });
        }



        function checked_task(id) {



            $.ajax
            ({

                url: '@Url.Action("Checked_Task", "Todo_Task")',
                cache: false,
                type: 'POST',
                data: {
                    id: id,

                },
                success: function (data) {

                    if (data == "SUCCESS") {
                        //location.reload();
                        $('#task_Table').DataTable().clear();
                        renderEvent();
                        renderTable();

                        swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Checked!"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target is completed!"))",
                                icon: "success",
                                time: 2000
                            });
                    }
                    else if (data == "SUCCESS_UP") {
                        $('#task_Table').DataTable().clear();
                        renderEvent();
                        renderTable();

                        swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Level up!"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target is completed! Your tree is grow up!"))",
                                icon: "success",
                                time: 2000
                            });
                    }



                    
                },
                error: function () {
                    BootstrapDialog.show({ title: 'Error', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                },
            });
        }

        function remove_task(id) {


            $.ajax
            ({

                url: '@Url.Action("Remove_Task", "Todo_Task")',
                cache: false,
                type: 'POST',
                data: {
                    id: id,

                },
                success: function (data) {

                    if (data != "Success") {

                        swal("ERROR", data, "error");
                    }
                    else if (data == "Success") {
                       
                        $('#task_Table').DataTable().clear();
                        renderEvent();
                        renderTable();

                        swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Removed!"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target removed!"))",
                                icon: "success",
                                time: 2000
                            });
                    }

                    

                },
                error: function () {
                    BootstrapDialog.show({ title: 'Error', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                },
            });
        }

        function renderEvent(){
            var events = [];
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTasks", "Todo_Task")',

                success: function (data) {
                    $.each(data, function (i, v) {

                        var taskDueTime = v.task_Due_Time;

                        var taskHour = taskDueTime.substring(0, 2);
                        var taskMinute = taskDueTime.substring(2, 4);

                        var taskDueTime_Full = taskHour + ":" + taskMinute;


                        // Not Complete but Not Failed.
                        if (v.task_isComplete == "N" && v.task_isFail == "N") {
                            events.push({

                                title: v.task_Name,
                                description: v.task_Description,
                                start: moment(v.task_Due_Date),
                                time: taskDueTime_Full,
                                color: '#9FCDFF',
                                status: "Planning",
                                task_id: v.task_ID,
                                isFocus: v.task_isFocus





                            });
                        }

                        //Completed.
                        if (v.task_isComplete == "Y" && v.task_isFail == "N") {
                            events.push({

                                title: v.task_Name,
                                description: v.task_Description,
                                start: moment(v.task_Due_Date),
                                time: taskDueTime_Full,
                                color: '#7FCF7E',
                                status: "Completed",
                                task_id: v.task_ID,
                                isFocus: v.task_isFocus




                            });
                        }

                        //Failed.
                        if (v.task_isComplete == "N" && v.task_isFail == "Y") {
                            events.push({

                                title: v.task_Name,
                                description: v.task_Description,
                                start: moment(v.task_Due_Date),
                                time: taskDueTime_Full,
                                color: '#FF524F',
                                status: "Failed",
                                task_id: v.task_ID,
                                isFocus: v.task_isFocus




                            });
                        }



                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {

                $('#calender').fullCalendar('destroy');

                $('#calender').fullCalendar({
                    //plugins: ['interaction'],
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month'
                    },
                    handleWindowResize: true,
                    
                    //Update 18-04-19

                    //selectable: true,
                    //dateClick: function (info) {
                    //    alert('clicked ' + info.dateStr);
                    //},
                    // ====
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {

                        $('#myModal #eventTitle').text(calEvent.title);

                        var $description = $('<div/>');

                        if (calEvent.status == "Completed") {
                            $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Status")) : </b>' + "<b style='color:green'>" + "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))" + "</b>"));
                        }
                        else if (calEvent.status == "Planning") {
                            $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Status")) : </b>' + "<b style='color:#9FCDFF'>" + "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Planning"))" + "</b>"));
                        }
                        else if (calEvent.status == "Failed") {
                            $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Status")) : </b>' + "<b style='color:red'>" + "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Failed"))" + "</b>"));
                        }

                        $description.append($('<p/>').html('<hr>'));
                        $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Due Date")) : </b>' + calEvent.start.format("DD MMM YYYY")));
                        $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Due Time")) : </b>' + calEvent.time));

                        if (calEvent.description != null) {
                            $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Note")) : </b>' + calEvent.description));
                        }
                        else {
                            //$description.append($('<p/>').html('<b>Note : </b>'));
                        }

                        if (calEvent.isFocus == 1) {
                            $description.append($('<p/>').html('<b>@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Focus")) : </b>' + '@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Active"))'));

                        }


                        //ADD THIS

                        //Default HIDE
                        $('#renderBtnComplete').hide();

                        if (calEvent.status == "Planning") {

                            var markup = "";

                            $('#renderBtnComplete').html("");

                            markup += '<button type="button" id="btnComplete" onclick="checked_task(' + calEvent.task_id + ')" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>';
                            markup += '&nbsp';
                            markup += '<button type="button" id="btnRemoveTask" onclick="remove_task(' + calEvent.task_id + ')" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i></button>';

                            $('#renderBtnComplete').html(markup);

                            $('#renderBtnComplete').show();
                        }


                        //ADD THIS


                        $('#myModal #pDetails').empty().html($description);
                        $('#modalHeader').css('background-color', calEvent.color);

                        $('#myModal').modal();


                    }
                })
            }
        }


        function renderTable() {


            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTasks", "Todo_Task")',

                success: function (data) {



                    $.each(data, function (i, v) {

                        var markup = "";
                        var taskDueTime = v.task_Due_Time;

                        var taskHour = taskDueTime.substring(0, 2);
                        var taskMinute = taskDueTime.substring(2, 4);

                        var taskDueTime_Full = taskHour + ":" + taskMinute;

                        var taskDueDate = v.task_Due_Date;
                        var year = taskDueDate.substring(0, 4);
                        var month = taskDueDate.substring(4, 6);
                        var date = taskDueDate.substring(6, 8);

                        taskDueDate = date + "/" + month + "/" + year;




                        // Not Complete but Not Failed.
                        if (v.task_isComplete == "N" && v.task_isFail == "N") {


                            var taskTable = $('#task_Table').DataTable();
                            var trDOM = taskTable.row.add([

                                "<button class='btn btn-outline-success' onclick='checked_task(" + v.task_ID + ")'><i class='fa fa-check'></i></button>&nbsp;<button class='btn btn-outline-danger' onclick='remove_task(" + v.task_ID + ")'><i class='fa fa-remove'></i></button>",
                                v.task_Name,
                                taskDueDate + " - " + taskDueTime_Full,
                                "N",
                                v.task_Description,
                                v.task_ID


                            ]).draw().node();

                        }

                        //Completed.
                        if (v.task_isComplete == "Y" && v.task_isFail == "N") {
                            var taskTable = $('#task_Table').DataTable();
                            var trDOM = taskTable.row.add([

                                "<button class='btn btn-success'><i class='fa fa-check'></i></button>",
                                v.task_Name,
                                taskDueDate + " - " + taskDueTime_Full,
                                "Y",
                                v.task_Description,
                                v.task_ID


                            ]).draw().node();
                            $(trDOM).addClass('table-success');
                        }

                        //Failed.
                        if (v.task_isComplete == "N" && v.task_isFail == "Y") {
                            var taskTable = $('#task_Table').DataTable();
                            var trDOM = taskTable.row.add([

                                "<button class='btn btn-danger'><i class='fa fa-remove'></i></button>",
                                v.task_Name,
                                taskDueDate + " - " + taskDueTime_Full,
                                "F",
                                v.task_Description,
                                v.task_ID


                            ]).draw().node();
                            $(trDOM).addClass('table-danger');
                        }



                    })




                },
                error: function (error) {
                    swal({
                            title: "Error",
                            text: "Ajax Error",
                            icon: "error",
                            time: 2000
                        });
                }
            })

        }

        function checkDateLimit() {

            var task_date = $('#Task_Due_Date').val();
            var task_time = $('#Task_Due_Time').val();

             $.ajax
            ({

                url: '@Url.Action("CheckDateLimit", "Todo_Task")',
                cache: false,
                type: 'POST',
                data: {
                    date: task_date,
                    time: task_time

                },
                success: function (data) {

                    if (data == "Success") {

                        $('#formFocus').submit();

                    }
                    else {

                        swal({
                            title: "Before date",
                            text: "You cannot add a retrospective target",
                            icon: "error",
                            time: 2000
                        });

                    }

                },
                error: function () {
                    //BootstrapDialog.show({ title: 'Error', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                    swal({
                            title: "Error",
                            text: "Ajax Error",
                            icon: "error",
                            time: 2000
                        });
                },
            });

        }

        $(document).ready(function () {

            setInterval(function () {
                $.ajax
                ({

                    url: '@Url.Action("IntervalCheckTask", "Todo_Task")',
                    cache: false,
                    type: 'POST',
                    data: {
                        

                    },
                    success: function (data) {

                        if (data.status == "200") {


                            console.log("IntervalCheckTask(AddTask) is working..");
                            console.log(data);

                            $('#task_Table').DataTable().clear();
                            console.log("Rendering table..");
                            renderTable();
                            renderEvent();

                        }
                        else {
                            swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Error"))", data.message, "error");
                        }


                    },
                    error: function () {
                        swal("AJAX", "Ajax is error", "error");
                    },
                });
            }, 15000);


            renderEvent();
            renderTable();

            //Enter to Add
            
            var task_Name = document.getElementById("Task_Name");
            var dateField = document.getElementById("Task_Due_Time");
            var task_Note = document.getElementById("Task_Description");

            task_Name.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    $("#btnAdd").click();
                }
            });

            dateField.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    $('#btnAdd').click();
                }
            });

            task_Note.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    $('#btnAdd').click();
                }
            });


            $('#btnFocus').click(function () {

                var task_name = $("#Task_Name").val();
                
                

                var validateArray = [];


                if (task_name == "") {
                    validateArray.push("Please enter <b>'Task Name'</b> before add.");
                    $('#Task_Name').focus();
                    return false;
                }
          


                if (validateArray.length > 0) {
                    var text = "";

                    var i;

                    for (i = 0; i < validateArray.length; i++) {
                        text += validateArray[i] + "<br>";
                    }




                    return false;
                }
                else {

                    $('#formFocus').submit();

                    return true;

                }
            });




            @if(TempData["alertMsg"] != null)
            {



                <text>

                    swal({
                    title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertTitle"].ToString()))",
                    text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertMsg"].ToString()))",
                    icon: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertType"].ToString()))",
                    timer: 3000

                });


                </text>
            }




            //table
            $('#task_Table').DataTable({
                responsive: true,
                //"scrollX": true,
                "order": [[5, 'dsc']],
                "info": false,
                "columnDefs": [
                    {
                        "targets": [3],
                        "visible": false
                    }
                    ,
                    {
                        "targets": [4],
                        "visible": true
                    }
                    ,
                    {
                        "targets": [5],
                        "visible": false
                    }
                    ,
                    { className: "text-center", "targets": [0] },
                    { className: "text-center", "targets": [1] },
                    { className: "text-center", "targets": [2] },
                    { className: "text-center", "targets": [3] },
                    { className: "text-center", "targets": [4] },
                    { className: "text-center", "targets": [5] }


                ]

            });

            var table = $('#task_Table').DataTable();

 

            $('#Task_Due_Date').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:2200'

            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }

            var todayNow = dd + '/' + mm + '/' + yyyy;

            $('#Task_Due_Date').val(todayNow);

            $('#btnTask_Due_Date').click(function () {

                $('#Task_Due_Date').val("");

            });

            $('#btnRedraw').click(function () {

                table.draw();

            });

            table
                .columns(3)
                .search("N")
                .draw();



            $("#showTask").change(function () {

                if (this.value == "show") {

                    table
                        .columns(3)
                        .search("")
                        .draw();
                } else if (this.value == "hide") {

                    table
                        .columns(3)
                        .search("N")
                        .draw();
                }

            });

            



            $('#btnAdd').click(function () {

                var task_name = $("#Task_Name").val();
                var task_due_date = $("#Task_Due_Date").val();
                var task_due_time = $("#Task_Due_Time").val();
                var checkFocus = $("#checkFocus").val();

                var validateArray = [];


                if (task_name == "") {
                    validateArray.push("Please enter <b>'Task Name'</b> before add.");
                    $('#Task_Name').focus();
                    return false;
                }
                if (task_due_date == "") {
                    validateArray.push("Please enter <b>'Task Due Date'</b> before add.");
                    $('#Task_Due_Date').focus();
                    return false;
                }
                //if (task_due_time == "") {
                    //validateArray.push("Please enter <b>'Task Due Time'</b> before add.");
                //    $('#Task_Due_Time').focus();

                //    return false;
                //}




                if (validateArray.length > 0) {
                    var text = "";

                    var i;

                    for (i = 0; i < validateArray.length; i++) {
                        text += validateArray[i] + "<br>";
                    }




                    return false;
                }
                else {

                    if (checkFocus == "1") {

                        var status = checkDateLimit();

                        //if (status == "Success") {

                        //    $('#formFocus').submit();

                        //    return false;
                        //}
                        //else {

                        //    alert("You can't add task before today.");
                        //    return false;
                        //}


                    }
                    else {
                        //ต้องส่ง AJAX ADD ตรงนี้
                        //task_add();
                        task_check();
                        return true;
                    }






                }

            });

            $('#renderBtnComplete').hide();









        });

    </script>


}


<button id="addSubTask" hidden>Add</button>
<button id="btnRedraw" hidden></button>

<p id="alert_message"></p>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader" style="background-color:#7fcf7e">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <div id="renderBtnComplete">
                    @*<button type="button" id="btnComplete" class="btn btn-success" data-dismiss="modal">Complete</button>*@


                </div>
                @*<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>*@
            </div>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10">




        <!-- normal task -->
        <div class="row">

           @* <button data-toggle="collapse" data-target="#calender" class="btn btn-info btn-block">@SharedLocalizer.GetLocalizedHtmlString("Calendar")</button>*@



            <div class="col-md-8">

                <button data-toggle="collapse" data-target="#calender" class="btn btn-secondary btn-block">@SharedLocalizer.GetLocalizedHtmlString("Calendar")</button>
                <hr />


                <div id="calender" class="collapse show">

                </div>



            </div>
            <div class="col-md-4">
                <button data-toggle="collapse" data-target="#normalTask" class="btn btn-secondary btn-block">@SharedLocalizer.GetLocalizedHtmlString("Add Target")</button>

                <hr />
                <div id="normalTask" class="collapse show">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h1>@SharedLocalizer.GetLocalizedHtmlString("My Targets")</h1>

                            <form id="formFocus" asp-action="Add_Focus" asp-controller="Todo_Task" method="get">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Target Name"):</label>
                                            <input name="Task_Name" type="text" class="form-control" id="Task_Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Target Type"):</label>
                                            <select name="Task_Type_ID"  id="Task_Type_ID" class="form-control">
                                                @{ 
                                                    List<Task_Type> Task_Type = ViewBag.taskType;

                                                    foreach(var t in Task_Type)
                                                    {
                                                        <option value="@t.task_Type_ID">@SharedLocalizer.GetLocalizedHtmlString(t.task_Type_Name)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Target Due Date"):</label>
                                            <input name="Task_Due_Date" type="text" class="form-control" readonly id="Task_Due_Date">

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>@SharedLocalizer.GetLocalizedHtmlString("Time"):</label>
                                        <input name="Task_Due_Time" type="time" class="form-control" id="Task_Due_Time">
                                    </div>

                                   

                                </div>





                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@SharedLocalizer.GetLocalizedHtmlString("Note"):</label>
                                            <textarea name="Task_Description" type="text" class="form-control" rows="5" id="Task_Description"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <div class="col-md-8 col-8 col-xs-8 col-sm-8">
                                        <button class="btn btn-success btn-outline btn-outline-white btn-block" id="btnAdd" style="color:white" ><i class="fa fa-calendar-plus-o" id="btnAdd_Load"></i> @SharedLocalizer.GetLocalizedHtmlString("Add")</button>
                                    </div>
                                    <div class="col-md-4 col-4 col-xs-4 col-sm-4">
                                        <a class="btn btn-danger btn-outline btn-outline-white btn-block" id="btnFocus" style="color:white"><i class="fa fa-crosshairs"></i> @SharedLocalizer.GetLocalizedHtmlString("Focus")</a>
                                    </div>
                                    
                                </div>
                                <hr />
                            </form>




                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="row">
            <br />

        </div>
        

        <!-- Calendar -->
        @*<div class="row">
            <div class="col-md-12">

                <button data-toggle="collapse" data-target="#calender" class="btn btn-info btn-block">@SharedLocalizer.GetLocalizedHtmlString("Calendar")</button>
                <hr />
                

                <div id="calender" class="collapse show">

                </div>

                
                
            </div>
        </div>*@
        <br />

        

        <!-- task table -->
        <div class="row">
            <div class="col-md-12">

                <button data-toggle="collapse" data-target="#todoTable" class="btn btn-secondary btn-block">@SharedLocalizer.GetLocalizedHtmlString("Todo List")</button>

                <hr />
                <div class="row collapse show"  id="todoTable">
                    <div class="col-md-12">

                        <h1>@SharedLocalizer.GetLocalizedHtmlString("How your goal is going")?</h1>
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("Show all completed and failed tasks"):</label>
                                    <select id="showTask" class="form-control">
                                        <option value="hide" selected>@SharedLocalizer.GetLocalizedHtmlString("Hide")</option>
                                        <option value="show">@SharedLocalizer.GetLocalizedHtmlString("Show")</option>
                                    </select>
                                </div>
                            </div>


                        </div>






                        <table width="100%" class="table table-hover table-striped" id="task_Table">



                            <thead>

                                <tr>
                                    <th></th>

                                    <th style="white-space:nowrap;">
                                        @SharedLocalizer.GetLocalizedHtmlString("Target Name")
                                    </th>
                                    <th style="white-space:nowrap;">
                                        @SharedLocalizer.GetLocalizedHtmlString("Target Due Date")
                                    </th>

                                    <th>
                                        is Finish
                                    </th>

                                    <th style="white-space:nowrap;">
                                        @SharedLocalizer.GetLocalizedHtmlString("Note")
                                    </th>

                                    <th>
                                        <!--Remove-->
                                    </th>



                                </tr>
                            </thead>
                            <tbody id="tBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>








    </div>

    <div class="col-md-1"></div>
</div>

<br />
<br />


















