﻿@{
    ViewData["Title"] = "Statistic";

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}

<script>

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    google.charts.setOnLoadCallback(drawTypeChart);


    //Type Chart
    function drawTypeChart() {

        var type_1 = @ViewBag.task_count_t1;
        var type_2 = @ViewBag.task_count_t2;
        var type_3 = @ViewBag.task_count_t3;
        var type_4 = @ViewBag.task_count_t4;
        var type_5 = @ViewBag.task_count_t5;
        var type_6 = @ViewBag.task_count_t6;
        var type_7 = @ViewBag.task_count_t7;
        var type_8 = @ViewBag.task_count_t8;
        var type_9 = @ViewBag.task_count_t9;
        var type_10 = @ViewBag.task_count_t10;

        var data = google.visualization.arrayToDataTable([
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target"))', 'Hours per Day'],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Not specify"))', type_1],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Food"))', type_2],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Education"))', type_3],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Bill"))', type_4],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Shopping"))', type_5],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Entertainment"))', type_6],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Health"))', type_7],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Donation"))', type_8],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Family"))', type_9],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Business"))', type_10],
            
        ]);

        var options = {
            title: '@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("My Targets by types"))',
            //colors: [

            //    '#109618',
            //    '#DC3912',
            //    '#3366CC'
            //],
            pieHole: 0.4,
            'width': '100%', 'height': 500,
            fontSize: 16,
            fontName: 'Kanit'

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_Type'));

        chart.draw(data, options);
    }





    //NORMAL CHART
    function drawChart() {


        var completed = @ViewBag.task_count_completed;
        var normal = @ViewBag.task_count_normal;
        var failed = @ViewBag.task_count_failed;
        var all_task = @ViewBag.task_count_all;

        var data = google.visualization.arrayToDataTable([
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Target"))', 'Hours per Day'],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))', completed],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Failed"))', failed],
            ['@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Planning"))', normal]
        ]);

        var options = {
            title: '@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("My Targets"))',
            colors: ['#109618', '#DC3912', '#3366CC'],
            pieHole: 0.4,
            'width': '100%', 'height': 500,
            fontSize: 16,
            fontName: 'Kanit'

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }





</script>

@functions {

//CONVERT DATE TO DISPLAY
string ConvertDatetoDisplay(string dIn)
{
    var sObj = dIn.Split("-");

    var sYear = dIn.Substring(0, 4);
    var sMonth = dIn.Substring(4, 2);
    var sDate = dIn.Substring(6, 2);

    return sDate + "/" + sMonth + "/" + sYear;
}

//INSERT TIME TO DISPLAY
string InsertTimeToDisplay(string timeIn)
{
    var timeObject = timeIn.Split("-");

    var timeHour = timeIn.Substring(0, 2);
    var timeMinute = timeIn.Substring(2, 2);



    return timeHour + ":" + timeMinute;
}

}


<div class="row">

    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <!-- Annual , Monthly , Daily -->
        
        <div class="row">


            <div class="col-md-6">
                <h1 style="color:#A08BA5" class="display-4">@SharedLocalizer.GetLocalizedHtmlString("Statistic")</h1>
                <hr />

                <div id="chart_wrap">
                    <div id="piechart">

                    </div>

                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("Type")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("Number of targets")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("Total")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td style="text-align:center"><b style="color:#3366CC">@SharedLocalizer.GetLocalizedHtmlString("Planning")</b></td>
                            <td style="text-align:center"><b style="color:#3366CC">@ViewBag.task_count_normal</b></td>
                            <td style="text-align:center"><b>@ViewBag.task_count_all</b></td>
                        </tr>
                        <tr class="table-success">
                            <td style="text-align:center"><b style="color:#109618">@SharedLocalizer.GetLocalizedHtmlString("Completed")</b></td>
                            <td style="text-align:center"><b style="color:#109618">@ViewBag.task_count_completed</b></td>
                            <td style="text-align:center"><b>@ViewBag.task_count_all</b></td>
                        </tr>
                        <tr class="table-danger">
                            <td style="text-align:center"><b style="color:red">@SharedLocalizer.GetLocalizedHtmlString("Failed")</b></td>
                            <td style="text-align:center"><b style="color:red">@ViewBag.task_count_failed</b></td>
                            <td style="text-align:center"><b>@ViewBag.task_count_all</b></td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="col-md-6">
                <h1 style="color:#A08BA5" class="display-4">@SharedLocalizer.GetLocalizedHtmlString("Your targets in") @ViewBag.Year</h1>
                <hr />
                <table class="table table-hover table-striped">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>

                        @{
                            List<ToDo_Task> yearly = ViewBag.Annual;

                            yearly = yearly.OrderBy(i => i.Task_Due_Date).ToList();

                            var thisMonth = 1;

                            for (var i = 0; i < 12; i++)
                            {

                                //โชว์ในลูปเดือนหมดหรือยัง ถ้าหมดแล้วให้ขึ้นเดือนต่อไป

                                var monthName = "";

                                if (thisMonth == 1)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("January").ToString();
                                }
                                else if (thisMonth == 2)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("February").ToString();

                                }
                                else if (thisMonth == 3)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("March").ToString();

                                }
                                else if (thisMonth == 4)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("April").ToString();

                                }
                                else if (thisMonth == 5)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("May").ToString();

                                }
                                else if (thisMonth == 6)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("June").ToString();

                                }
                                else if (thisMonth == 7)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("July").ToString();

                                }
                                else if (thisMonth == 8)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("August").ToString();

                                }
                                else if (thisMonth == 9)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("September").ToString();

                                }
                                else if (thisMonth == 10)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("October").ToString();

                                }
                                else if (thisMonth == 11)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("November").ToString();

                                }
                                else if (thisMonth == 12)
                                {
                                    monthName = SharedLocalizer.GetLocalizedHtmlString("December").ToString();

                                }


                                if (thisMonth > 9)
                                {
                                    if (yearly.Where(y => y.Task_Due_Date.Contains("2019" + thisMonth.ToString())).Count() > 0)
                                    {

                                        <tr>

                                            <td data-toggle="collapse" data-target="#month_@thisMonth.ToString()">


                                                <b style="font-size:20px">@monthName</b>


                                                <ul class="collapse show" id="month_@thisMonth.ToString()" style="list-style-type: none;">


                                                    @foreach (var m in yearly.Where(y => y.Task_Due_Date.Contains("2019" + thisMonth.ToString())))
                                                    {



                                                        if (m.Task_isFail == "Y")
                                                        {
                                                            //เฟล
                                                            <li><i style="color:red" class="fa fa-remove"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name</li>
                                                        }
                                                        else if (m.Task_isComplete == "Y")
                                                        {
                                                            //สำเร็จ
                                                            <li>
                                                                <i style="color:#109618" class="fa fa-check"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name
                                                                @if (m.Task_isFocus == 1)
                                                                {
                                                                    @: <i style="color:#ff6a00" class="fa fa-crosshairs"></i>
                                                                }
                                                            </li>

                                                        }
                                                        else
                                                        {
                                                            //Planning
                                                            <li><i style="color:#3366CC" class="fa fa-clock-o"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name</li>

                                                        }

                                                    }
                                                </ul>

                                            </td>


                                        </tr>


                                    }
                                }
                                else
                                {
                                    if (yearly.Where(y => y.Task_Due_Date.Contains("2019" + "0" + thisMonth.ToString())).Count() > 0)
                                    {

                                        <tr>

                                            <td data-toggle="collapse" data-target="#month_@thisMonth.ToString()">


                                                <b style="font-size:20px">@monthName</b>


                                                <ul class="collapse show" id="month_@thisMonth.ToString()" style="list-style-type: none;">


                                                    @foreach (var m in yearly.Where(y => y.Task_Due_Date.Contains("2019" + "0" + thisMonth.ToString())))
                                                    {



                                                        if (m.Task_isFail == "Y")
                                                        {
                                                            //เฟล
                                                            <li><i style="color:red" class="fa fa-remove"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name</li>
                                                        }
                                                        else if (m.Task_isComplete == "Y")
                                                        {
                                                            //สำเร็จ
                                                            <li>
                                                                <i style="color:#109618" class="fa fa-check"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name
                                                                @if (m.Task_isFocus == 1)
                                                                {
                                                                    @: <i style="color:#ff6a00" class="fa fa-crosshairs"></i>
                                                                }
                                                            </li>

                                                        }
                                                        else
                                                        {
                                                            //Planning
                                                            <li><i style="color:#3366CC" class="fa fa-clock-o"></i><b> @ConvertDatetoDisplay(m.Task_Due_Date)</b> - @m.Task_Name</li>

                                                        }

                                                    }
                                                </ul>

                                            </td>


                                        </tr>


                                    }
                                }







                                thisMonth++;

                                if (thisMonth == 13)
                                {
                                    break;
                                }




                            }
                        }


                    </tbody>

                </table>


                

            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1 style="color:#A08BA5" class="display-4">@SharedLocalizer.GetLocalizedHtmlString("By Type")</h1>
                <hr />
                <table class="table table-hover table-striped" id="statByType">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>

                        @{
                            List<ToDo_Task> task_annual = ViewBag.Annual;

                            int type_Length = ViewBag.Task_Type_Length;
                            int taskTypeCount = 1;
                            for (var i = 1; i < type_Length + 1; i++)
                            {

                                ToDo_Task typeObj = task_annual.Where(t => t.Task_Type_ID == i).FirstOrDefault();

                                if (typeObj != null)
                                {
                                    <tr>

                                        <td data-toggle="collapse" data-target="#type_@taskTypeCount">

                                            @{ 
                                                var task_Name = typeObj.Task_Type.task_Type_Name;
                                            }
                                            

                                            @if (task_Name == "-")
                                            {
                                                <b style="font-size:20px">@SharedLocalizer.GetLocalizedHtmlString("Not specify")</b>
                                            }
                                            else
                                            {
                                                <b style="font-size:20px">@SharedLocalizer.GetLocalizedHtmlString(task_Name.ToString())</b>

                                            }


                                            <ul class="collapse show" id="type_@taskTypeCount" style="list-style-type: none;">


                                                @foreach (var n in task_annual.Where(z => z.Task_Type_ID == i))
                                                {



                                                    if (n.Task_isFail == "Y")
                                                    {
                                                        //เฟล
                                                        <li><i style="color:red" class="fa fa-remove"></i><b> @ConvertDatetoDisplay(n.Task_Due_Date)</b> - @n.Task_Name</li>
                                                    }
                                                    else if (n.Task_isComplete == "Y")
                                                    {
                                                        //สำเร็จ
                                                        <li><i style="color:#109618" class="fa fa-check"></i><b> @ConvertDatetoDisplay(n.Task_Due_Date)</b> - @n.Task_Name @if (n.Task_isFocus == 1) {
                                                            @: <i style="color:#ff6a00" class="fa fa-crosshairs"></i>
                                                        }</li>

                                                    }
                                                    else
                                                    {
                                                        //Planning
                                                        <li><i style="color:#3366CC" class="fa fa-clock-o"></i><b> @ConvertDatetoDisplay(n.Task_Due_Date)</b> - @n.Task_Name</li>

                                                    }

                                                }
                                            </ul>

                                        </td>


                                    </tr>
                                }



                                taskTypeCount++;

                                //Loop all type in Annual
                                //if (task_annual.Where(y => y.Task_Due_Date.Contains("2019" + "0" + thisMonth.ToString())).Count() > 0)
                                //{




                                //}

                            }
                        }
                        




                    </tbody>

                </table>
            </div>

            <div class="col-md-6">
                <h1 style="color:#A08BA5" class="display-4">@SharedLocalizer.GetLocalizedHtmlString("Chart")</h1>
                <hr />

                <div id="chart_wrap">
                    <div id="piechart_Type">

                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="col-md-1"></div>
</div>





