﻿@model IEnumerable<GW.Models.ToDo_Task>

@{
    ViewData["Title"] = "Task";
}

@functions {

//CONVERT DATE TO DISPLAY
string ConvertDatetoDisplay(string dIn)
{
    var sObj = dIn.Split("-");

    var sYear = dIn.Substring(0, 4);
    var sMonth = dIn.Substring(4, 2);
    var sDate = dIn.Substring(6, 2);

    return sDate + "/" + sMonth + "/" + sYear;
}

//INSERT TIME TO DISPLAY
string InsertTimeToDisplay(string timeIn)
{
    var timeObject = timeIn.Split("-");

    var timeHour = timeIn.Substring(0, 2);
    var timeMinute = timeIn.Substring(2, 2);



    return timeHour + ":" + timeMinute;
}

}

<script language="javascript" type="text/javascript">





    $(document).ready(function () {


        $('#task_Table').DataTable({
            responsive: true

            //,


            //"columnDefs": [
            //    {
            //        "targets": [3],
            //        "visible": false
            //    }
            //    ,
            //    {
            //        "targets": [4],
            //        "visible": false
            //    }

            //]







        });

        var table = $('#task_Table').DataTable();



        $('#Task_Due_Date').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1900:2200'

        });

        $('#btnTask_Due_Date').click(function () {

            $('#Task_Due_Date').val("");

        });



        $('#btnSubmit').click(function () {

            var Email = $("#Email").val();


            if (Email == "") {
                validateArray.push("Please enter <b>'Email'</b> before submit.");
            }



            if (validateArray.length > 0) {
                var text = "";

                var i;

                for (i = 0; i < validateArray.length; i++) {
                    text += validateArray[i] + "<br>";
                }

                BootstrapDialog.show({ title: 'Caution', type: BootstrapDialog.TYPE_WARNING, message: text });
                return false;
            }
            else {
                return true;




            }

        });



    });

</script>

<style>
</style>


<br />
<br />
<br />
<br />

<button id="addSubTask" hidden>Add</button>

<form asp-action="Task" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-12">

            <h1>How about your targets?.</h1>
            <br />

            <table width="100%" class="table table-striped table-bordered table-hover nowrap" id="task_Table">

                @*//Search*@

                <thead>

                    <tr>
                        <th>
                            Task Name
                        </th>
                        <th>
                            Due Date
                        </th>

                        <th>
                            is Complete
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {


                        if (item.Task_isComplete == "Y")
                        {
                            <tr class="table-success">
                                <td style="text-align:center">
                                    @item.Task_Name
                                </td>

                                <td style="text-align:center">
                                    @ConvertDatetoDisplay(item.Task_Due_Date) @InsertTimeToDisplay(item.Task_Due_Time)
                                </td>

                                <td style="text-align:center">

                                    @{
                                        if (item.Task_isComplete == "N")
                                        {
                                            <font>NOT</font>
                                        }
                                        else if (item.Task_isComplete == "Y")
                                        {
                                            <font style="color:green">YES</font>
                                        }
                                        else
                                        {
                                            <font style="color:red">ERROR</font>
                                        }
                                    }

                                </td>


                                <td style="text-align:center">
                                    @{
                                        <a asp-action="Details" asp-route-id="@item.Task_ID">
                                            <button type="button" class="btn btn-success btn-outline btn-circle">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </a>
                                    }

                                </td>


                            </tr>
                        }
                        else if (item.Task_isComplete == "N")
                        {
                            <tr>
                                <td style="text-align:center">
                                    @item.Task_Name
                                </td>

                                <td style="text-align:center">
                                    @ConvertDatetoDisplay(item.Task_Due_Date) @InsertTimeToDisplay(item.Task_Due_Time)
                                </td>

                                <td style="text-align:center">

                                    @{
                                        if (item.Task_isComplete == "N")
                                        {
                                            <font>NOT</font>
                                        }
                                        else if (item.Task_isComplete == "Y")
                                        {
                                            <font style="color:green">YES</font>
                                        }
                                        else
                                        {
                                            <font style="color:red">ERROR</font>
                                        }
                                    }

                                </td>


                                <td style="text-align:center">
                                    @{
                                        <a asp-action="Details" asp-route-id="@item.Task_ID">
                                            <button type="button" class="btn btn-success btn-outline btn-circle">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        </a>
                                    }

                                </td>


                            </tr>
                        }
                        else
                        {
                            <tr class="table-danger">
                                <td style="text-align:center">
                                    <font style="color:red">ERROR</font>
                                </td>

                                <td style="text-align:center">
                                    <font style="color:red">ERROR</font>
                                </td>

                                <td style="text-align:center">
                                    <font style="color:red">ERROR</font>
                                </td>


                                <td style="text-align:center">
                                    <font style="color:red">ERROR</font>    

                                </td>


                            </tr>
                        }



                    }
                </tbody>
            </table>





        </div>

    </div>

</form>









