﻿@{
    ViewData["Title"] = "Achievement";

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}



@functions {

    //CONVERT DATE TO DISPLAY
    string ConvertDatetoDisplay(string dIn)
    {
        var sObj = dIn.Split("-");

        var sYear = dIn.Substring(0, 4);
        var sMonth = dIn.Substring(4, 2);
        var sDate = dIn.Substring(6, 2);

        return sDate + "/" + sMonth + "/" + sYear;
    }

    //INSERT TIME TO DISPLAY
    string InsertTimeToDisplay(string timeIn)
    {
        var timeObject = timeIn.Split("-");

        var timeHour = timeIn.Substring(0, 2);
        var timeMinute = timeIn.Substring(2, 2);



        return timeHour + ":" + timeMinute;
    }

}

<script>

    function modalUp(modal_id) {

        var progress = $('#ac_progress_' + modal_id).val();

        $('#acModal').modal();

        $('#modalHeader').text($('#ac_name_' + modal_id).val());
        $('#Description').text($('#ac_des_' + modal_id).val());

        $('#p_number').text(progress + "%");
        $('#p_width').css("width", progress + "%");
        $('#p_big_number').text(progress + "%");
        

    }

    $(document).ready(function (){

        
    });

</script>

<div class="row" style="padding-top:50px">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" style="font-size:30px">@SharedLocalizer.GetLocalizedHtmlString("Achievement")</h1>
                <hr />

               
            </div>
        </div>

        <div class="row" style="padding-top:20px">
            @{

                List<Achievement_Type> AC_TYPE = ViewBag.AC;
                List<Achievement> UserAC = ViewBag.UserAC;

                var count = 1;

                foreach (var item in UserAC)
                {

                    

                    <div class="col-md-3 col-6" style="padding-bottom:50px">
                        @{
                            if (item.isComplete == "Y")
                            {
                                <a href="#ac_name_@item.Achievement_Type.AC_ID" onclick="modalUp(@item.Achievement_Type.AC_ID)">
                                    <img src="~/img/growup/Trophy/@count-A.png" class="img-fluid" alt="Image result for trophy icon png" />
                                </a>
                            }
                            else
                            {
                                <a href="#ac_name_@item.Achievement_Type.AC_ID" onclick="modalUp(@item.Achievement_Type.AC_ID)">
                                    <img src="~/img/growup/Trophy/Locked.png" class="img-fluid" alt="Image result for trophy icon png" />
                                </a>
                            }
                        }


                        <input id="ac_name_@item.Achievement_Type.AC_ID" hidden value="@item.Achievement_Type.AC_Name" />
                        <input id="ac_des_@item.Achievement_Type.AC_ID" hidden value="@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(item.Achievement_Type.AC_Description))" />

                        @{ 
                            var progressPoint = 0.00;

                            if (item.isComplete == "Y")
                            {
                                progressPoint = 100.00;
                            }
                            else
                            {
                                if (item.Achievement_Type.AC_ID == 2){

                                    progressPoint = ViewBag.task_Education;

                                }
                                else if (item.Achievement_Type.AC_ID == 3){

                                    progressPoint = ViewBag.task_Food;
                                }
                                else if (item.Achievement_Type.AC_ID == 4){

                                    progressPoint = ViewBag.task_Shopping;
                                }
                                else if (item.Achievement_Type.AC_ID == 5){

                                    progressPoint = ViewBag.task_Entertainment;
                                }
                                else if (item.Achievement_Type.AC_ID == 6){

                                    progressPoint = ViewBag.task_Health;
                                }
                                else if (item.Achievement_Type.AC_ID == 7){

                                    progressPoint = ViewBag.task_Bill;
                                }
                                else if (item.Achievement_Type.AC_ID == 8){

                                    progressPoint = ViewBag.task_Family;
                                }
                                else if (item.Achievement_Type.AC_ID == 9){

                                    progressPoint = ViewBag.task_Bussiness;
                                }
                                else if (item.Achievement_Type.AC_ID == 10){

                                    progressPoint = ViewBag.task_count_completed;
                                }
                                else if (item.Achievement_Type.AC_ID == 11){

                                    progressPoint = ViewBag.task_count_normal;
                                }
                                else if (item.Achievement_Type.AC_ID == 12){

                                    //First Tree Growth
                                }
                                else if (item.Achievement_Type.AC_ID == 13){

                                    //Second Tree Growth
                                }
                                else if (item.Achievement_Type.AC_ID == 14){

                                    progressPoint = ViewBag.task_isFocus;
                                }
                                else if (item.Achievement_Type.AC_ID == 16){

                                    //First Blood
                                }
                                else if (item.Achievement_Type.AC_ID == 17){

                                    //Master of Trees
                                }

                            
                            }


                            

                        }

                        <input id="ac_progress_@item.Achievement_Type.AC_ID" hidden value="@String.Format("{0:0.##}", progressPoint)" />

                    </div>

                    count++;

                }


            }
        </div>








    </div>
    <div class="col-md-1"></div>

</div>


<!-- Button to Open the Modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Description" id="modalDescription">
    Open modal
</button>*@

<!-- The Modal -->
<div class="modal" id="acModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeader"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modalBody">


                <p id="p_big_number" class="text-right" style="font-size:25px"></p>
                <div class="progress" style="height:20px">
                    <div class="progress-bar bg-success" id="p_width" style="width: 0%;height:20px">
                        <font id="p_number"></font>
                    </div>
                </div>
                <!-- Green -->
                <p style="padding-top:10px"><b>@SharedLocalizer.GetLocalizedHtmlString("Note"):</b> <font id="Description"></font></p>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Close")</button>
            </div>

        </div>
    </div>
</div>

