﻿@{
    ViewData["Title"] = "Home Page";
    @using Microsoft.AspNetCore.Http

    var user_id = Context.Session.GetString("User_ID");

    //Layout = null;

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}



@model GW.Models.Trees


@*<style>
    body {
            /*font-family: 'Titillium Web', sans-serif;*/
            font-family: 'K2D', sans-serif;
            background-color: white;
        }
</style>*@


<script language="javascript" type="text/javascript">


    $(document).ready(function () {

        

        var isDead = "@Model.Tree_isDead";

        if (isDead == "Y") {

            swal({
                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Tree is dry out because failed too much!"))",
                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You need to reset a tree before continue"))",
                icon: "info",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {

                if (willDelete) {
               

                   //AJAX CALL AND RELOAD หน้า
                    $.ajax
                    ({

                        url: '@Url.Action("ResetTree", "Users")',
                        cache: false,
                        type: 'GET',
                        data: {

                        },
                        success: function (data) {

                            if (data == "SUCCESS") {

                                swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Trees have been reset!"))","success");
                                setTimeout(function () {
                                    location.reload();
                                }, 3000)
                                

                            }

                        },
                        error: function () {
                            swal("AJAX ERROR", "ERROR", "error");
                        },
                    });

                }
                else {
                    swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Tree Death"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You will be not allow to add other task if tree still death"))","warning");

                }

            });
        }

        var thisHP = @ViewBag.Tree_HP;
        if (thisHP <= 0) {

            swal({
                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Tree is dry out because failed too much!"))",
                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You need to reset a tree before continue"))",
                icon: "info",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {

                if (willDelete) {
               

                   //AJAX CALL AND RELOAD หน้า
                    $.ajax
                    ({

                        url: '@Url.Action("ResetTree", "Users")',
                        cache: false,
                        type: 'GET',
                        data: {

                        },
                        success: function (data) {

                            if (data == "SUCCESS") {

                                swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Trees have been reset!"))","success");
                                setTimeout(function () {
                                    location.reload();
                                }, 3000)
                                

                            }

                        },
                        error: function () {
                            swal("AJAX ERROR", "ERROR", "error");
                        },
                    });

                }
                else {
                    //swal("@SharedLocalizer.GetLocalizedHtmlString("Canceled")","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Canceled"))","error");

                }

            });
        }


        var thisTree_Level = "@Model.Tree_Level";
        var thisTree_Type_ID = "@Model.Tree_Type_ID";

        if (thisTree_Level == 3 && thisTree_Type_ID == 4) {
            swal({
                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Congrats!!"))",
                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You have fully growth all of 4 trees!, Now you cannot growth a tree anymore you need to reset before growing new tree."))",
                icon: "success",
                buttons: ["@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Cancel"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("OK"))"],
                
            })
            .then((willDelete) => {

                if (willDelete) {

                    $.ajax
                    ({

                        url: '@Url.Action("ResetTree", "Users")',
                        cache: false,
                        type: 'GET',
                        data: {

                        },
                        success: function (data) {

                            if (data == "SUCCESS") {

                                swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Trees have been reset!"))","success");
                                setTimeout(function () {
                                    location.reload();
                                }, 3000)
                                

                            }

                        },
                        error: function () {
                            swal("AJAX ERROR", "ERROR", "error");
                        },
                    });

                }
                else {
                    //swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Canceled"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Cancel"))","error");

                }

            });
        }

    });




    window.onload = function () {
        resize();
        window.addEventListener("resize", resize, false);

    };


</script>

<script>

    //NIGHT OR DAY FUNCTION
    var bgTime = "@ViewBag.Scene_Time_BG";
    var bgDayorNight = "@ViewBag.DorN";
    var treeLevel = @Model?.Tree_Level;
    var treeIMG = "@ViewBag.TreeIMG";

    var task_count = @ViewBag.task_count;
    var task_complete = @ViewBag.task_finished;

    var tree_hp = @ViewBag.Tree_HP;
    var taskToday = @ViewBag.task_today;

    var tree_exp = @ViewBag.tree_exp;

    var userWidth = window.innerWidth;
    var userHeight = window.innerHeight;

    //Check Fully Growth Tree



     @{
         var G1_isNull = "Y";
         var G2_isNull = "Y";
         var G3_isNull = "Y";

         Trees tree_G1 = ViewBag.G1;
         Trees tree_G2 = ViewBag.G2;
         Trees tree_G3 = ViewBag.G3;

         if (tree_G1 != null)
         {
             G1_isNull = "N";
         }
         if (tree_G2 != null)
         {
             G2_isNull = "N";
         }
         if (tree_G3 != null)
         {
             G3_isNull = "N";
         }



    }

    var G1_nullCheck = "@G1_isNull";
    var G2_nullCheck = "@G2_isNull";
    var G3_nullCheck = "@G3_isNull";

    var tree = {
        name: "Tree_Name",
        level: 0,
        exp: 0,
        hp: 100,
        img: "IMG"

    };


    var G1_isHere = false;
    var G2_isHere = false;
    var G3_isHere = false;


    //CHECK NULL
    if (G1_nullCheck == "Y") {

    }
    else {
        @*var G1_JS = new tree("@tree_G1.Tree_Name",@tree_G1.Tree_Level,@tree_G1.Tree_EXP,@tree_G1.Tree_HP,@ViewBag.G1_IMG);*@
        G1_isHere = true;
    }

    if (G2_nullCheck == "Y") {

    }
    else {
        @*var G2_JS = new tree("@tree_G2.Tree_Name",@tree_G2.Tree_Level,@tree_G2.Tree_EXP,@tree_G2.Tree_HP,@ViewBag.G2_IMG);*@
        G2_isHere = true;
    }

    if (G3_nullCheck == "Y") {

    }
    else {
        @*var G3_JS = new tree("@tree_G3.Tree_Name",@tree_G3.Tree_Level,@tree_G3.Tree_EXP,@tree_G3.Tree_HP,@ViewBag.G3_IMG);*@
        G3_isHere = true;
    }




    //MAIN GAME CONFIG
    var config = {
        type: Phaser.AUTO,
        //width: userWidth,
        //height: userHeight,
        width: 1920,
        height: 1080,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            }
        },
        scene: {
            preload: preload,
            create: create
        },
        parent: 'phaser-container',
        dom: {
            createContainer: true
        },
    };


    var game = new Phaser.Game(config);

    var treeBlock;

    var config_X = 0;
    var config_Y = 80;

    var configTree_X = -20;
    var configTree_Y = 100;

    var isMobile = false; //initiate as false
    // device detection
    if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
        || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
        isMobile = true;
    }


    function resize() {
        var canvas = document.querySelector("canvas");
        var mainContainer = document.querySelector("mainContainer");

        //var windowWidth = window.innerWidth;
        //var windowHeight = window.innerHeight;

        var windowWidth = window.outerWidth;
        var windowHeight = window.outerHeight;



        var windowRatio = windowWidth / windowHeight;
        var gameRatio = game.config.width / game.config.height;

        if (windowRatio < gameRatio) {
            canvas.style.width = windowWidth + "px";
            canvas.style.height = (windowWidth / gameRatio) + "px";
        }
        else {
            canvas.style.width = (windowHeight * gameRatio) + "px";
            canvas.style.height = windowHeight + "px";
        }


    }


    function preload() {

        //ได้แล้ววว ต้องใช้ .. นำหน้าก่อน
        //this.load.image('background', bgTime);
        this.load.image('background', bgTime);

        //Plain Ground
        this.load.image('plain_field', '../assets/GU_Game/img/PlainGround/Plain_Field.png');


        this.load.image('trees', treeIMG);

        if (G1_isHere) {
            this.load.image('g1_tree', '@ViewBag.G1_IMG');
        }
        if (G2_isHere) {
            this.load.image('g2_tree', '@ViewBag.G2_IMG');
        }
        if (G3_isHere) {
            this.load.image('g3_tree', '@ViewBag.G3_IMG');
        }


        //this.load.image('coin_b', '../assets/GU_Game/img/PNG/coin/leaf-coin.png');
        this.load.image('coin_icon', '../assets/GU_Game/img/PNG/coin/leaf-coin.png');
        this.load.image('task_icon', '../assets/GU_Game/img/PNG/task/task.png');

    }
    function create() {



        //window.addEventListener('resize', resize);
        //resize();




        //Isometric Tree Design
        //Plain Soil BG 1
        this.add.image(0, 0, 'background').setOrigin(0, 0);





        //// 2*2 Blocks

        if (G2_isHere) {
            treeBlock_03 = this.physics.add.staticGroup();

            treeBlock_03.create(990 + configTree_X, 395 + configTree_Y, 'plain_field').setScale(1).refreshBody();
            treeBlock_03.create(990 + configTree_X, 275 + configTree_Y, 'g2_tree').setScale(0.3).refreshBody();
        }

        if (G3_isHere) {
            treeBlock_04 = this.physics.add.staticGroup();

            treeBlock_04.create(1275 + configTree_X, 565 + configTree_Y, 'plain_field').setScale(1).refreshBody();
            treeBlock_04.create(1275 + configTree_X, 445 + configTree_Y, 'g3_tree').setScale(0.3).refreshBody();
        }


        ////Tree 3
        //treeBlock_03 = this.physics.add.staticGroup();

        //treeBlock_03.create(990, 395, 'plain_field').setScale(1).refreshBody();
        //treeBlock_03.create(990, 335, 'trees').setScale(1).refreshBody();

        ////Tree 4
        //treeBlock_04 = this.physics.add.staticGroup();

        //treeBlock_04.create(1275, 565, 'plain_field').setScale(1).refreshBody();
        //treeBlock_04.create(1275, 505, 'trees').setScale(1).refreshBody();



        treeBlock_01 = this.physics.add.staticGroup();

        //ยึดที่แกน X และ แกน Y ลบห่างกัน -120
        treeBlock_01.create(700 + configTree_X, 560 + configTree_Y, 'plain_field').setScale(1).refreshBody();
        treeBlock_01.create(700 + configTree_X, 440 + configTree_Y, 'trees').setScale(0.3).refreshBody();


        if (G1_isHere) {
            //Tree 2
            treeBlock_02 = this.physics.add.staticGroup();

            treeBlock_02.create(985 + configTree_X, 730 + configTree_Y, 'plain_field').setScale(1).refreshBody();
            treeBlock_02.create(985 + configTree_X, 610 + configTree_Y, 'g1_tree').setScale(0.3).refreshBody();
        }






        this.add.image(80 + config_X, 80 +config_Y, 'coin_icon').setScale(0.08);

        this.add.image(640+config_X,80+config_Y, 'task_icon').setScale(0.08);





        if (bgDayorNight == "Day") {

            //DEFAULT DAY
            ////If task != 0
            //if (taskToday == 1) {
            //    havetoFinish_text = this.add.text(130+config_X, 160+config_Y, taskToday + " task should be completed within today.", { fontSize: '36px', fill: '#E8AA0C' });
            //}
            //else if (taskToday != 0) {
            //    havetoFinish_text = this.add.text(130+config_X, 160+config_Y, taskToday + " tasks should be completed within today.", { fontSize: '36px', fill: '#E8AA0C' });
            //}
            //else {
            //    havetoFinish_text = this.add.text(130+config_X, 160+config_Y, "You don't have any task today.", { fontSize: '36px', fill: '#E8AA0C' });
            //}

            ////TREE LEVEL
            //level_text = this.add.text(130+config_X, 65+config_Y, 'LV ' + treeLevel, { fontSize: '48px', fill: 'gray' });

            ////Task/Complete_Task
            //hp_text = this.add.text(300+config_X, 65+config_Y, "HP:" + tree_hp + '/100', { fontSize: '48px', fill: 'gray' });

            ////TREE HP
            //task_text = this.add.text(690+config_X, 65+config_Y, task_complete + '/' + task_count, { fontSize: '48px', fill: 'gray' });

            ////EXP Text
            //exp_text = this.add.text(130+config_X, 110+config_Y, tree_exp + '%', { fontSize: '26px', fill: 'gray' });

            //If task != 0
            if (taskToday == 1) {
                havetoFinish_text = this.add.text(130 + config_X, 160 + config_Y, taskToday + " @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("target should be completed within today."))", { fontSize: '36px', fill: '#f2c860', fontFamily: ['fontFamily', 'Trebuchet MS'] });
            }
            else if (taskToday != 0) {
                havetoFinish_text = this.add.text(130 + config_X, 160 + config_Y, taskToday + " @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("targets should be completed within today."))", { fontSize: '36px', fill: '#f2c860', fontFamily: ['fontFamily', 'Trebuchet MS'] });
            }
            else {
                havetoFinish_text = this.add.text(130 + config_X, 160 + config_Y, "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You don't have any target today."))", { fontSize: '36px', fill: '#f2c860', fontFamily: ['fontFamily', 'Trebuchet MS'] });
            }

            //TREE LEVEL
            level_text = this.add.text(130 + config_X, 65 + config_Y, 'LV  ' + treeLevel, { fontSize: '48px', fill: 'white', fontFamily: ['fontFamily', 'Trebuchet MS'] });

            //Task/Complete_Task
            hp_text = this.add.text(300 + config_X, 65 + config_Y, "HP:" + tree_hp + '/100', { fontSize: '48px', fill: 'white', fontFamily: ['fontFamily', 'Trebuchet MS'] });

            //TREE HP
            task_text = this.add.text(690 + config_X, 65 + config_Y, task_complete + '/' + task_count, { fontSize: '48px', fill: 'white', fontFamily: ['fontFamily', 'Trebuchet MS'] });

            //EXP Text
            exp_text = this.add.text(130 + config_X, 110 + config_Y, tree_exp + '%', { fontSize: '26px', fill: 'white', fontFamily: ['fontFamily', 'Trebuchet MS']});


        }
        else if (bgDayorNight == "Night") {

            //If task != 0
            if (taskToday == 1) {
                havetoFinish_text = this.add.text(130 + config_X,160+config_Y, taskToday + " @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("target should be completed within today."))", { fontSize: '36px', fill: '#ffe790' , fontFamily: ['fontFamily', 'Kanit']});
            }
            else if (taskToday != 0) {
                havetoFinish_text = this.add.text(130 + config_X, 160 + config_Y, taskToday + " @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("targets should be completed within today."))", { fontSize: '36px', fill: '#ffe790' , fontFamily: ['fontFamily', 'Kanit']});
            }
            else {
                havetoFinish_text = this.add.text(130 + config_X, 160 + config_Y, "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You don't have any target today."))", { fontSize: '36px', fill: '#ffe790' , fontFamily: ['fontFamily', 'Kanit']});
            }

            //TREE LEVEL
            level_text = this.add.text(130 + config_X, 65 + config_Y, 'LV ' + treeLevel, { fontSize: '48px', fill: 'white' });

            //Task/Complete_Task
            hp_text = this.add.text(300 + config_X, 65 + config_Y, "HP:" + tree_hp + '/100', { fontSize: '48px', fill: 'white' });

            //TREE HP
            task_text = this.add.text(690 + config_X, 65 + config_Y, task_complete + '/' + task_count, { fontSize: '48px', fill: 'white' });

            //EXP Text
            exp_text = this.add.text(130 + config_X, 110 + config_Y, tree_exp + '%', { fontSize: '26px', fill: 'white' });
        }
        else {
            //ERROR
        }



    }



</script>

@*<script src="~/js/main.js"></script>*@



@{
    if (user_id != null)
    {


        <div class="row">
            <div class="col-md-1" id="LS"></div>
            <div class="col-md-10" id="phaser-container">
                @*<div id="phaser-container">

                    </div>*@
            </div>
            <div class="col-md-1" id="RS"></div>



        </div>

        @*<div id="phaser-container">

            </div>*@

    }
    else
    {



    }
}


<script>
    $(document).ready(function () {

        @if(TempData["alertMsg"] != null)
            {



                <text>

                    swal({
                    title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertTitle"].ToString()))",
                    text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertMsg"].ToString()))",
                    icon: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString(TempData["alertType"].ToString()))",
                    timer: 2000

                });


                </text>
            }


        if (bgDayorNight == "Day") {

            //$('#phaser-container').css("background-color", "#91D0EE");
            //$('#LS').css("background-color", "#91D0EE");
            //$('#RS').css("background-color", "#91D0EE");

            //MAIN BG
            $('#phaser-container').css("background-color", "#332421");
            //$('#LS').css("background-color", "#332421");
            //$('#RS').css("background-color", "#332421");
            //$('#mainContainer').css("background-color", "332421");
            $('body').css("background-color", "#332421");
        }
        else {
            $('#phaser-container').css("background-color", "#3d425e");
            //$('#LS').css("background-color", "#3d425e");
            //$('#RS').css("background-color", "#3d425e");
            //$('#mainContainer').css("background-color", "#3d425e");
            $('body').css("background-color", "#3d425e");


        }

    });
</script>











@Html.Raw(TempData["msg"])
