﻿
@{
    ViewData["Title"] = "Register QR";

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}

<style>
    body {
        background-color: #ECEDEF;
    }
</style>

<script>
    var userIsEmpty = "N";
    function checkUsername() {

        var Email = $('#Username').val();
        $.ajax
            ({

                url: '@Url.Action("check_Email", "Users")',
                cache: false,
                type: 'GET',
                data: {
                    email: Email
                },
                success: function (data) {

                    if (data == "HAVE") {
                        userIsEmpty = "N";
                        $("#checkUser").show();
                        $("#checkUser").text("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("This User is already used."))");
                        $("#checkUser").css('color', 'red');

                    }
                    else if (data == "NOT") {
                        userIsEmpty = "Y";
                        $("#checkUser").show();
                        $("#checkUser").text("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You can use this User."))");
                        $("#checkUser").css('color', 'green');

                    }


                },
                error: function () {
                    BootstrapDialog.show({ title: 'is-invalid', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                },
            });
    }


    $(document).ready(function (){

        $('.footer').hide();

        $('#btnSubmit').click(function () {

            if ($('#Username').val() == "") {
                $('#Username').focus();

                return false;
            }
            else {

                if (userIsEmpty == "N") {
                    return false;
                }
                else {



                    @*swal({

                        title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Warning"))",
                        text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You have to remember this username when login next time."))",
                        icon: "info",

                    });*@

                    swal({
                        title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Warning"))",
                        text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("You have to remember this username when login next time."))",
                        icon: "info",
                        buttons: true,
                        buttons: true,
                    })
                    .then((willDelete) => {

                        if (willDelete) {

                          

                            $('#formSubmit').submit();
                        }
                        else {

                            return false
                        }

                    });





                    //return true;
                }
                
            }


            

            

        });

    });
</script>

<div class="container-fluid">
    <div class="row" style="padding-top:50px">

        <div class="col-12 col-sm-12">
            <h3>@SharedLocalizer.GetLocalizedHtmlString("Quick register")</h3>

            <div class="card">
                <div class="card-body">

                    <form asp-controller="Users" asp-action="Create_withQR" id="formSubmit" method="post">
                        <div class="row">
                            <div class="col-12">

                                <label class="label">@SharedLocalizer.GetLocalizedHtmlString("Username")</label>
                                <input id="Username" name="Email" class="form-control" onkeyup="checkUsername()" />

                            </div>
                            <div class="col-12">
                                <small id="checkUser"></small>
                            </div>

                            <div class="col-12">
                                <small style="color:#e48080">@SharedLocalizer.GetLocalizedHtmlString("*Default password is") <b style="color:#4b3d86">1</b></small>
                            </div>
                            <div class="col-12">
                                <small style="color:#4f8ac7">@SharedLocalizer.GetLocalizedHtmlString("You can change your profile later.")</small>
                            </div>

                            <div class="col-12" style="padding-top:20px">
                                <a style="color:white" class="btn btn-success btn-block" id="btnSubmit">@SharedLocalizer.GetLocalizedHtmlString("Submit")</a>
                            </div>



                        </div>
                    </form>

                </div>
            </div>
        </div>



    </div>
</div>
