﻿@model GW.Models.User
@{
    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration

    var title = SharedLocalizer.GetLocalizedHtmlString("Edit").ToString();
    ViewData["Title"] = title;




}

<script language="javascript" type="text/javascript">

    function resetTree() {

        swal({
                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Tree reset"))",
                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Are you sure?"))",
                icon: "info",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {

                if (willDelete) {
               

                   //AJAX CALL AND RELOAD หน้า
                    $.ajax
                    ({

                        url: '@Url.Action("ResetTree", "Users")',
                        cache: false,
                        type: 'GET',
                        data: {

                        },
                        success: function (data) {

                            if (data == "SUCCESS") {

                                swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Completed"))","@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Trees have been reset!"))","success");


                                setTimeout(function () {
                                    location.reload();
                                },3000)

                            }

                        },
                        error: function () {
                            swal("AJAX ERROR", "ERROR", "error");
                        },
                    });

                }
                else {
                    swal("Canceled","Canceled","error");

                }

            });
    }



    $(document).ready(function () {

        $('#Birthdate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1900:2200'

        });

        $('#btnBirthdate').click(function () {

            $('#Birthdate').val("");

        });


        //Last Login Converted
        if ($('#Last_Login').text() == "") {

        }
        else {


            var lastLogin_original = $('#Last_Login').text();

            var login_y = lastLogin_original.substring(0, 4);
            var login_m = lastLogin_original.substring(4, 6);
            var login_d = lastLogin_original.substring(6);

            var lastLogin_Rearrange = login_d + "/" + login_m + "/" + login_y;

            $('#Last_Login').text(lastLogin_Rearrange);
        }


        if ($('#Birthdate').val() == "") {

        }
        else {


            var birthdate_Original = $('#Birthdate').val();

            var birthdate_Y = birthdate_Original.substring(0, 4);
            var birthdate_M = birthdate_Original.substring(4, 6);
            var birthdate_D = birthdate_Original.substring(6);

            var birthdate_Re = birthdate_D + "/" + birthdate_M + "/" + birthdate_Y;

            $('#Birthdate').val(birthdate_Re);
        }


        $('#btnSubmit').click(function () {


            var first_name = $("#First_Name").val();
            var last_name = $("#Last_Name").val();
            var birthdate = $("#Birthdate").val();
            var gender = $('#Gender').val();

            var validateArray = [];


            if (first_name == "") {
                validateArray.push("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Please enter")) <b>'@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("First Name"))'</b> @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("before submit"))");
                //alert("Please select 'First name' before submit.");

            }
            if (last_name == "") {
                validateArray.push("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Please enter")) <b>'@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Last Name"))'</b> @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("before submit"))");
                //alert("Please select 'Last name' before submit.");


            }
            if (birthdate == "") {
                validateArray.push("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Please enter")) <b>'@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Birthdate"))'</b> @Html.Raw(SharedLocalizer.GetLocalizedHtmlString("before submit"))");
                //alert("Please enter 'Birthdate' before submit.");

            }
            if (gender == 0) {
                //alert("Please select 'Gender' before submit.")

            }



            if (validateArray.length > 0) {
                var text = "";

                var i;

                for (i = 0; i < validateArray.length; i++) {
                    text += validateArray[i] + "<br>";
                }

                alertModal_Popup("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Warning"))", "warning", text);

                //BootstrapDialog.show({ title: 'Caution', type: BootstrapDialog.TYPE_WARNING, message: text });
                return false;
            }
            else {

                return true;


            }

        });

    });




</script>

<style>
    hr.style2 {
        border-top: 3px double #8c8b8b;
        background-color: cornflowerblue;
    }

    #sp1 {
        background-color: #cdc9c9;
    }

    .error {
        border: 1px solid red;
    }

    .pass {
        border: 1px solid green;
    }

    .main-panel {
        border: 1px;
        background-color: #eaeaea;
        border-radius: 20px;
    }
</style>

<div>
    <div class="row">
        @*<div class="row show-grid">
            <div class="col-md-12" style="padding:0px">


                <div class="row show-grid2 col-md-8">
                    <h2><p class="text-primary">Register</p></h2>
                    <h4><p class="text-primary">User</p></h4>

                </div>
                <div class="row show-grid2 col-md-4"
                     style="display:flex; justify-content: flex-end;align-items:center">
                    <h3><p class="text-primary">Register </p></h3>
                </div>
            </div>*@
        <br />

    </div>
    <br />

    @*<input asp-for="User_ID" name="id" hidden />*@

    <div class="row" style="padding-bottom:200px">
        <div class="col-md-1">

        </div>



        <div class="col-md-10">
            <form asp-action="Edit" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-12" id="main-app">

                        <div class="row">
                            <div class="col-md-12">
                                <h1 style="color:#A08BA5" class="jumbotron-fluid">@SharedLocalizer.GetLocalizedHtmlString("MY PROFILE")</h1>
                                <div>
                                    @*<h3>( @Model.First_Name @Model.Last_Name )</h3>*@
                                    <h3 style="color:dodgerblue">{{f_name}} {{l_name}}</h3>
                                </div>


                                <hr />
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("Email"):</label>
                                    <input asp-for="Email" id="Email" class="form-control" readonly />
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("First Name"):</label>
                                    <input asp-for="First_Name" v-model="f_name" id="First_Name" class="form-control" />

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("Last Name"):</label>
                                    <input asp-for="Last_Name" v-model="l_name" id="Last_Name" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("Birthdate"):</label>
                                    <input asp-for="Birthdate" id="Birthdate" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("Gender"):</label>
                                    <select asp-for="Gender" id="Gender" class="form-control">
                                        <option value="M">@SharedLocalizer.GetLocalizedHtmlString("Male")</option>
                                        <option value="F">@SharedLocalizer.GetLocalizedHtmlString("Female")</option>
                                        <option value="O">@SharedLocalizer.GetLocalizedHtmlString("Other")</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <a style="color:white" onclick="resetTree()"><button type="button" class="btn btn-outline-danger">@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Reset tree"))</button></a>

                                </div>

                            </div>



                        </div>

                        @{
                            if (ViewBag.AC != null)
                            {
                                List<Achievement> UserAC = ViewBag.AC;

                                if (UserAC.Count() == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-success" style="color:white" onclick="addAC()"><i class="fa fa-trophy"></i> @SharedLocalizer.GetLocalizedHtmlString("Achievement")</a>
                                        </div>
                                    </div>
                                }
                            }
                        }


                        <hr />

                        @{
                            if (Model.Role_ID == 1)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>ADMIN PANEL</b>
                                    </div>
                                </div>

                                <div class="row" style="padding-top:10px">
                                    <div class="col-md-10">
                                        <a class="btn btn-info" style="color:white" onclick="lv_up()"><i class="fa fa-plus"></i> Level up</a>
                                        <a class="btn btn-danger" style="color:white" onclick="lv_down()"><i class="fa fa-minus"></i> Level down</a>
                                        <a class="btn btn-dark" style="color:white" onclick="tree_die()"><i class="fa fa-ambulance"></i> Tree Dead</a>
                                    </div>
                                </div>

                                <hr />
                            }
                        }





                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">


                                    <a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-outline-secondary">@SharedLocalizer.GetLocalizedHtmlString("Back")</button></a>
                                    <input type="submit" id="btnSubmit" value="@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Submit"))" class="btn btn-success" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <small>@SharedLocalizer.GetLocalizedHtmlString("Last login"): </small><small id="Last_Login">@Model.Last_Login</small>
                            </div>


                        </div>





                    </div>
                </div>

            </form>

            <br />
            <br />
        </div>

        <div class="col-md-1"></div>
    </div>


    <div class="row" style="padding-top:20px">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            @{ 
                if(Model.Role_ID == 1)
                {
                    <hr />

                    
                }
            }
        </div>
        <div class="col-md-1"></div>

    </div>


</div>


<script>

    function addAC() {

        $.ajax
            ({
                url: '@Url.Action("CreateAC","Todo_Task")',
                cache: false,
                type: 'POST',
                data: {},
                success: function (data) {

                    if (data == "Success") {
                        swal("Success", "Success", "success");
                    }
                },
                error: function () {

                },

            });
    }

    function lv_up() {

        $.ajax
        ({

            url: '@Url.Action("Admin_TreeUp", "Todo_Task")',
            cache: false,
            type: 'POST',
            data: {
                

            },
            success: function (data) {

                 if (data == "Success") {
                    swal("Success","Tree Level up","success");
                }

            },
            error: function () {

            },
        });

    }

    function lv_down() {
        $.ajax
        ({

            url: '@Url.Action("Admin_TreeDown", "Todo_Task")',
            cache: false,
            type: 'POST',
            data: {
                

            },
            success: function (data) {


                if (data == "Success") {
                    swal("Success","Tree Level down","success");
                }
            },
            error: function () {

            },
        });
    }

    function tree_die() {

        $.ajax
        ({

            url: '@Url.Action("Admin_TreeDie", "Todo_Task")',
            cache: false,
            type: 'POST',
            data: {
                

            },
            success: function (data) {

                if (data == "Success") {
                    swal("Success","Tree is dead.","success");
                }

            },
            error: function () {

            },
        });

    }
    //VUE JS
    var mainApp = new Vue({
        el: '#main-app',
        data: {
            f_name: '@Html.Raw(Model.First_Name)',
            l_name: '@Html.Raw(Model.Last_Name)'
        }
    })
</script>






