﻿
@{
    ViewData["Title"] = "LineNotify";

    var user_id = Context.Session.GetString("User_ID");

    @model GW.Models.User


    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration

}


<script>


   
</script>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>


        <div class="row" style="padding-top:50px">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">@SharedLocalizer.GetLocalizedHtmlString("LINE NOTIFY")</h1>
                <hr />

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <img class="img-fluid mx-auto d-block" src="https://scdn.line-apps.com/n/line_notice/img/pc/img_lp02_en.png?20161005" style="padding-top:20px"/>

                <h4 class="" style="padding-top:50px">@SharedLocalizer.GetLocalizedHtmlString("Connect to LINE Notify to get better experience on Growyp!")</h4>


            </div>
        </div>

        <div class="row" style="padding-bottom:50px;padding-top:20px">

            @{
                if (Model.Line_AccessToken != "" && Model.Line_AccessToken != null)
                {
                    <div class="col-md-12">
                        <form asp-controller="Users" asp-action="LineNoti_Revoke" method="post">
                            <input hidden name="isRevoke" id="isRevoke" value="Y" />
                            <button class="btn btn-danger btn-block" style="color:white">@SharedLocalizer.GetLocalizedHtmlString("Revoke")</button>
                        </form>
                    </div>



                }
                else
                {
                    <div class="col-md-12">

                        <form asp-controller="Users" asp-action="LineNotify" method="post">
                            <input hidden name="connect" id="connect" value="Y" />
                            <button class="btn btn-success btn-block" style="color:white">@SharedLocalizer.GetLocalizedHtmlString("Connect")</button>
                        </form>


                    </div>
                    }


            }
        </div>


        <div class="row">
            <div class="col-md-12" style="padding-top:50px">

            </div>
        </div>



    </div>
    <div class="col-md-1"></div>
</div>

