﻿
@{
    ViewData["Title"] = "LineNoti_Success";
}

<script>
    $(document).ready(function (){

        swal("Line Notify", "Connected to Growyp!", "success");
        
    });
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12" style="padding-top:50px">

                <h1 style="color:green">SUCCESS</h1>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


