﻿
@{
    Layout = null;

    
    var user = ViewData["User"] as GW.Models.User;

    var test = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login..</title>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui-1.12.1.min.js"></script>

</head>
<body>



    <form asp-controller="Home" asp-action="Login" id="formLogin">
        <input hidden name="input_Email" id="Username" value="@user.Email" />
        <input hidden name="input_Password" id="Password" value="1" />
    </form>

    <script>
        $(document).ready(function () {

            $('#formLogin').submit();
        })
    </script>
</body>


</html>
