﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration
}

@if (showBanner)
{


    @*<div id="cookieConsent">
            <div class="row">
                <div class="col-lg-12">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">

                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                    <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>

                </div>
            </div>

        </div>*@



    <div class="modal" id="cookieConsent">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("Cookie Policy")</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @SharedLocalizer.GetLocalizedHtmlString("We need your cookie to login into our application.")


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@

                    @*<a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>*@
                    <button type="button" id="btnAccept" class="btn btn-outline-info" data-cookie-string="@cookieString">@SharedLocalizer.GetLocalizedHtmlString("Agreed and Proceed")</button>
                </div>

            </div>
        </div>
    </div>

    @*<nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                        <span class="sr-only">Toggle cookie consent banner</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text">
                        Use this space to summarize your privacy and cookie use policy.
                    </p>
                    <div class="navbar-right">
                        <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                        <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
                    </div>
                </div>
            </div>
        </nav>*@
    <script>

        $(document).ready(function () {

            localStorage.removeItem("ATLI");


            $('#btnAccept').click(function () {

                $('#cookieConsent').modal().hide();
                location.reload();

            });

        });


        (function () {
            $('#cookieConsent').modal();
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}