﻿@{
    @using Microsoft.AspNetCore.Http
    var user_id = Context.Session.GetString("User_ID");

    @using System.IO;
    @using Microsoft.Extensions.Configuration
    @using Microsoft.AspNetCore.Http;
    @using Microsoft.AspNetCore.Builder
    @using Microsoft.AspNetCore.Http.Features
    @using Microsoft.AspNetCore.Localization
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Options
    @using Microsoft.AspNetCore.Http.Extensions;
    @using GW.Resources
    @inject LocService SharedLocalizer
    @inject IViewLocalizer Localizer
    @inject IOptions<RequestLocalizationOptions> LocOptions
    @inject IConfiguration Configuration

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*@{
            if (user_id != null)
            {
                <title>GROWYP - @ViewData["User"]</title>
            }
            else
            {
                <title>GROWYP</title>

            }
        }*@
    <title>Grow Your Plan</title>

    <!--ICON-->
    <link rel="icon" type="image/png" href="~/img/growup/Logo/GrowypBrand32x.png" />

    <!--GOOGLE CHART-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui-1.12.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    @*<script src="~/vendor/raphael/raphael.min.js"></script>

        <script src="~/vendor/morrisjs/morris.min.js"></script>
        <script src="~/data/morris-data.js"></script>
        <script src="~/vendor/metisMenu/metisMenu.min.js"></script>*@
    <script src="~/js/chosen.jquery.js"></script>



    @* CSS *@

    <script src="~/Datatables/datatables.min.js"></script>
    <link href="~/Datatables/datatables.min.css" rel="stylesheet" type="text/css" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/r-2.2.2/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/r-2.2.2/datatables.min.js"></script>*@

    <link rel="stylesheet" href="~/css/jQuery-ui-1.12.1.css" />
    <link href="~/js/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
    @*<link href="~/dist/css/sb-admin-2.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/js/prism.css">
    <link rel="stylesheet" href="~/css/chosen.css">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Datatables/Buttons-1.5.2/js/buttons.bootstrap.min.js"></script>
    <link href="~/Datatables/Buttons-1.5.2/css/buttons.bootstrap.min.css" />

    <script src="~/js/phaser.js"></script>
    <script src="~/js/phaser.min.js"></script>


    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    @*<script src="~/vendor/sweetalert/sweetalert.min.js"></script>*@
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>


    <!--Update 19-04-19 -->
    <link href="https://fonts.googleapis.com/css?family=Kanit:300" rel="stylesheet">




    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

    <!--GW JS-->
    <script src="~/js/gw_js/_Layout.js"></script>

    <style>
        .table thead,
        .table th {
            text-align: center;
        }

        .table tbody,
        .table td {
            text-align: left;
        }

        body {
            /*font-family: 'Titillium Web', sans-serif;*/
            font-family: 'Kanit', sans-serif;
            background-color: white;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #5A6268;
            border-color: #5A6268;
        }

        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #5A6268;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        /*.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }*/
    </style>



    <script>



        function openLoginModal() {
            document.getElementById("modalOpen").click();
        }

        function alert_bt(txtHeader, txt, alertClass) {

            $('#alertTab').show();
            //Remove All Class
            $('#alertTab').removeClass("alert-success");
            $('#alertTab').removeClass("alert-info");
            $('#alertTab').removeClass("alert-warning");
            $('#alertTab').removeClass("alert-danger");
            $('#alertTab').removeClass("alert-primary");
            $('#alertTab').removeClass("alert-secondary");
            $('#alertTab').removeClass("alert-dark");
            $('#alertTab').removeClass("alert-light");
            $('#alertTab').removeClass("show");


            $('#alertTab').addClass("alert-" + alertClass);
            $('#alertTab').addClass("show");
            $('#alertText').empty();
            $('#alertText').append("<strong>" + txtHeader + "</strong> " + txt);

        }



        function auth_login() {

            var Email = $('#input_Email').val();
            var Password = $('#input_Password').val();


            $.ajax
                ({

                    url: '@Url.Action("auth_login", "Home")',
                    cache: false,
                    type: 'POST',
                    data: {
                        email: Email,
                        password: Password
                    },
                    success: function (data) {

                        if (data == "AUTH_NOT") {
                            //$("#msgLogin").text("Invalid Email or Password");
                            //$("#msgLogin").css('color', 'red');
                            //$("#msgLogin").show();

                            swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Error"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Invalid Email or Password!"))",
                                icon: "error",
                                time: 2000
                            });

                            localStorage.removeItem("ATLI");
                        }
                        else if (data == "USER_NOT_FOUND") {
                            //$("#msgLogin").text("Invalid Email or Password");
                            //$("#msgLogin").css('color', 'red');
                            //$("#msgLogin").show();

                            swal({
                                title: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Error"))",
                                text: "@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Invalid Email or Password!"))",
                                icon: "error",
                                time: 2000
                            });

                            localStorage.removeItem("ATLI");



                        }
                        else if (data == "AUTH_PASS") {

                            //NEW

                            var rememberMe = $('#rememberMe').val();
                            if (rememberMe == "Y") {

                                //Set localstorage

                                var e_en = btoa(Email);
                                var p_en = btoa(Password);


                                var jsonData = {

                                    XMA: e_en,
                                    XSTP: p_en
                                }

                                jsonData = JSON.stringify(jsonData)
                                localStorage.setItem("ATLI", jsonData);

                                $('#formLogin').submit();


                            }
                            else {

                                $('#formLogin').submit();


                            }

                            //$('#formLogin').submit();



                            //OLD

                            //location.reload();
                            //window.location = "http://growyp.com/Todo_Task/Add_Task";
                        }
                        else if (data == "AUTH_LOCK") {
                            $("#msgLogin").text("Your account has locked. Please contact administrator.");
                            $("#msgLogin").css('color', 'orange');
                            $("#msgLogin").show();
                        }


                    },
                    error: function () {
                        BootstrapDialog.show({ title: 'Error', type: BootstrapDialog.TYPE_DANGER, message: 'AJAX ERROR' });
                    },
                });
        }

        $(document).ready(function () {

            @{
                if(TempData["LOGOUT"] != null)
                {

                    <text>
                    localStorage.removeItem("ATLI");
                    window.location.pathname = "Home/Index";

                </text>
                }
            }

            @if (user_id != null && ViewBag.isTaskPage == null)
            {
                <text>

                setInterval(function () {
                    $.ajax
                    ({

                        url: '@Url.Action("IntervalCheckTask", "Todo_Task")',
                        cache: false,
                        type: 'POST',
                        data: {


                        },
                        success: function (data) {

                            if (data.status == "200") {


                                console.log("IntervalCheckTask(_Layout) is working..");
                                console.log(data);

                            }
                            else {
                                swal("@Html.Raw(SharedLocalizer.GetLocalizedHtmlString("Error"))", data.message, "error");
                            }


                        },
                        error: function () {
                            swal("AJAX", "Ajax is error", "error");
                        },
                    });

                }, 15000);

                </text>

            }



            $('#modalOpen').hide();
            $('#msgLogin').hide();





            $("a[data-toggle=\"tab\"]").on("shown.bs.tab", function (e) {

                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();
            });

            $(".dataTables_scrollHeadInner").css({ "width": "100%" });

            $(".table ").css({ "width": "100%" });

            $('.chosen-select').chosen(
            );

            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Data not found !!' },
                '.chosen-select-rtl': { rtl: true },
                '.chosen-select-width': { width: '95%' },

            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }



            //Enter to Login
            var password_field = document.getElementById("input_Password");
            var email_field = document.getElementById("input_Email");

            password_field.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("submit_login").click();
                }
            });

            email_field.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("submit_login").click();
                }
            });


            //$('#alertModal').modal();

            //alertModal_Popup("HELLO", "danger","THIS TEXST");







        });




        function alertModal_Popup(title,type_color,appendHTML) {
            $('#alertModal #alertModal_Title').text(title);


            var color = "";

            if (type_color == "danger") {
                color = "#DC3545";
                fontColor = "White";
            }
            else if (type_color == "success") {
                color = "#28A745";
                fontColor = "White";
            }
            else if (type_color == "warning") {
                color = "#FFC107";
                fontColor = "White";
            }
            else if (type_color == "secondary") {
                color = "#6C757D";
                fontColor = "White";
            }
            else if (type_color == "gu") {
                color = "#1C1408";
                fontColor = "White";
            }
            else {
                color = "#6C757D";
                fontColor = "White";
            }

            var $description = $('<div/>');
            $description.append($('<p/>').html(appendHTML));

            $('#alertModal #alertModal_Detail').empty().html($description);
            $('#alertModal_Header').css('background-color', color);
            $('#alertModal #alertModal_Title').css('color',fontColor);

            $('#alertModal').modal();
        }










    </script>

</head>
@*<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GW</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>*@
<body>


    @await Component.InvokeAsync("MenuList")




    <div class="container-fluid body-content" id="mainContainer">


        <partial name="_CookieConsentPartial" />




        @RenderBody()

















        @*<br />
            <br />*@

        @{
            if (ViewBag.isGame != "Y")
            {
                <footer class="footer">


                    <div class="row" style="background-color:#332421">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="color:#7D8170">

                            <br />
                            <div class="row">
                                @*<div class="col-md-1"></div>*@
                                <div class="col-md-12">
                                    @{
                                        var y = DateTime.Now.ToString("yyyy");
                                        var tx = 0;
                                        if (Convert.ToInt32(y) > 2500)
                                        {
                                            tx = Convert.ToInt32(y) - 543;
                                        }
                                    }
                                    Growyp Copyright @tx
                                    <p>
                                        <!--VERSION-->
                                        v1.12


                                    </p>

                                </div>
                                @*<div class="col-md-1">

                                    <a href="#" class="social-icon w-inline-block"><img src="~/img/growup/Footer/Mail.png" width="35" alt=""></a>
                                    <a href="#" class="social-icon w-inline-block"><img src="~/img/growup/Footer/Facebook.png" width="35" alt=""></a>

                                </div>*@

                            </div>

                        </div>
                        <div class="col-md-1">
                            <div class="row">
                                <div class="col-md-12">

                                    <br />

                                    <a href="#" class="social-icon w-inline-block"><img src="~/img/growup/Footer/Mail.png" width="35" alt=""></a>
                                    <a href="#" class="social-icon w-inline-block"><img src="~/img/growup/Footer/Facebook.png" width="35" alt=""></a>


                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            }
            else
            {

            }
        }




        <!-- ALERT MODAL -->
        <div id="alertModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="alertModal_Header" style="background-color:#7fcf7e">
                        <h4 class="modal-title"><span id="alertModal_Title"></span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>

                    <div class="modal-body">
                        <p id="alertModal_Detail"></p>
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                        </div>*@
                </div>
            </div>
        </div>





        <!--MODAL-->
        <button hidden type="button" class="btn btn-info btn-lg" id="modalOpen" data-toggle="modal" data-target="#modal_login"></button>
        <!-- Modal -->
        <div class="modal fade" id="modal_login" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-10">

                                <form asp-controller="Home" asp-action="Login" id="formLogin">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">@SharedLocalizer.GetLocalizedHtmlString("Email")</label>
                                        <input type="text" class="form-control" id="input_Email" name="input_Email" aria-describedby="emailHelp" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Enter email or Username")">
                                        <small id="emailHelp" class="form-text text-muted">@SharedLocalizer.GetLocalizedHtmlString("We'll never share your email with anyone else.")</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">@SharedLocalizer.GetLocalizedHtmlString("Password")</label>
                                        <input type="password" class="form-control" id="input_Password" name="input_Password" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Password")">
                                    </div>

                                    <div id="msgLogin">
                                        <h5 id="msgReturn" style="color:red">Invalid Email or Password</h5>

                                    </div>

                                    <div hidden class="">
                                        <input hidden type="checkbox" id="rememberMe" name="rememberMe" value="Y" /><small>@SharedLocalizer.GetLocalizedHtmlString("Remember me")</small>
                                    </div>


                                    <div class="form-group">
                                        <a asp-area="" asp-controller="Users" asp-action="Create"><small>@SharedLocalizer.GetLocalizedHtmlString("Sign up")</small></a>

                                    </div>
                                    @*<button class="btn btn-info" id="submit_login" onclick="auth_login()">Submit</button>*@
                                    <a class="btn btn-info" style="color:white" id="submit_login" onclick="auth_login()">@SharedLocalizer.GetLocalizedHtmlString("Submit")</a>
                                </form>


                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                        @*}*@

                        <br />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Close")</button>
                    </div>
                </div>
            </div>
        </div>


    </div>



    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>

