﻿
@{
    @using Microsoft.AspNetCore.Http
}

@{
    var user_id = Context.Session.GetString("User_ID");
}

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Extensions;
@using GW.Resources

@using System.IO;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{ 
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    string select_lang = "", display = "", font_size = "", curent_lang = "";
    curent_lang = requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName;
    curent_lang = requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName;
    if (curent_lang.Equals("th"))
    {
        select_lang = "en-US";
        display = "en.png";
    }
    else
    {
        select_lang = "th-TH";
        display = "th.png";
    }   
}


@*<nav class="navbar navbar-expand-sm bg-dark navbar-fixed-top">*@
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #1C1408">
    <div class="container">


        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">


            <!-- Brand -->

            @{
                if (user_id != null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Todo_Task" asp-action="Add_Task"><img src="~/img/growup/Brand.png" width="25%" />&nbsp; GROWYP</a>

                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/growup/Brand.png" width="25%" />&nbsp; GROWYP</a>

                }
            }

            <!-- Links -->
            <ul class="navbar-nav mr-auto">


                @{
                    if (user_id != null)
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Todo_Task" asp-action="Task_Statistic" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("Statistic")</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Todo_Task" asp-action="Task_Achievement" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("Achievement")</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Todo_Task" asp-action="Add_Task" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("Target")</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Main" asp-action="Index" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("My Trees")</a>
                        </li>

                       


                    }
                    else
                    {

                    }
                }


                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="News" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("News")</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("About")</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link" style="white-space:nowrap;">@SharedLocalizer.GetLocalizedHtmlString("Contact")</a>
                </li>
                
               








            </ul>

            <ul class="navbar-nav ml-auto">

                @{
                    if (user_id != null)
                    {
                        <!-- User Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="white-space:nowrap;">
                                @{


                                    if (ViewBag.User != null)
                                    {

                                        GW.Models.User UserInfo = ViewBag.User;

                                        @UserInfo.Email
                                    }
                                }
                            </a>
                            <div class="dropdown-menu">
                                <a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@user_id" class="dropdown-item"style="white-space:nowrap;">
                                    @{


                                        if (ViewBag.User != null)
                                        {


                                            GW.Models.User UserInfo = ViewBag.User;

                                            @UserInfo.First_Name


                                        }


                                    } @{


                                        if (ViewBag.User != null)
                                        {


                                            GW.Models.User UserInfo = ViewBag.User;

                                            @UserInfo.Last_Name

                                        }




                                    }
                                </a>
                                <a asp-area="" asp-controller="Users" asp-action="ChangePassword" class="dropdown-item">@SharedLocalizer.GetLocalizedHtmlString("Change password")</a>
                                <a asp-area="" asp-controller="Home" asp-action="Logout" onclick="btnLogoutClick()" class="dropdown-item">@SharedLocalizer.GetLocalizedHtmlString("Logout")</a>

                            </div>
                        </li>

                        <li class="nav-item">
                                
                            <a asp-controller="Users" asp-action="LineNotify" class="navbar-brand"><img src="~/img/growup/Logo/Line_32px.png" /></a>
                        </li>

                        

                        

                    }
                    else
                    {


                        <li class="nav-item">

                            <a asp-area="" asp-controller="Users" asp-action="Create" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Sign up")</a>
                        </li>


                        <li class="nav-item" onclick="openLoginModal()">
                            <a class="nav-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("Login")</a>
                        </li>




                    }

                }


            </ul>

            <a asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@Context.Request.GetDisplayUrl()" asp-route-culture="@select_lang" class="flex-c-m trans-04 p-lr-25">
                <img src="~/images/@display" width="20" />
            </a>

            











        </div>

    </div>
</nav>

<br />
<br />




